In [6]:
import sys
from typing import Dict, Tuple, Optional
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.insert(0, "../")

from mdu.eval.table_analysis_utils import (
    transform_by_tasks,
    compute_average_ranks,
)

from configs.interesting_compositions import INTERESTING_COMPOSITIONS
from table_utils import (
    load_and_combine_csv_files,
    analyze_hyperparameter_effects_general,
    analyze_hyperparameter_effects_per_dataset,
    compare_hyperparameters_by_metric,
    analyze_individual_component_performance,
)


# Set pandas display options to show all columns
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)

In [7]:
# Load and combine all per_comp_scaled_benchmark CSV files
pattern = "extended_benchmark_*.csv"
base_dir = "../resources/extended_benchmark"
combined_df, loading_summary = load_and_combine_csv_files(pattern=pattern, base_dir=base_dir)

print("Loading Summary:")
display(loading_summary)

print(f"\nCombined DataFrame shape: {combined_df.shape}")

# Create summary of hyperparameters
hyperparam_cols = ['eps', 'grid_size', 'n_targets_multiplier', 'scaler_type', 'target']
hyperparam_summary = []

for col in hyperparam_cols:
    if col in combined_df.columns:
        unique_vals = sorted(combined_df[col].unique())
        hyperparam_summary.append({
            'hyperparameter': col,
            'unique_values': unique_vals,
            'count': len(unique_vals)
        })

hyperparam_df = pd.DataFrame(hyperparam_summary)
print("\nHyperparameter Summary:")
display(hyperparam_df)

# Dataset summary
dataset_summary = pd.DataFrame({
    'dataset': sorted(combined_df['ind_dataset'].unique()),
    'row_count': [len(combined_df[combined_df['ind_dataset'] == ds]) for ds in sorted(combined_df['ind_dataset'].unique())]
})

print("\nDataset Summary:")
display(dataset_summary)

print(f"\nTotal source files loaded: {len(combined_df['source_file'].unique())}")

Loading Summary:

,filename,rows,eps,iters,tol,rs,grid_size,n_targets_multiplier,target,scaler_type,experiment_type
0,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1.csv,7920,2.0,150,0.000001,150,5,1,beta,none,extended_benchmark
1,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2.csv,7920,2.0,150,0.000001,150,5,2,beta,none,extended_benchmark
2,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2.csv,7920,2.0,150,0.000001,150,2,2,beta,none,extended_benchmark
3,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1.csv,7920,2.0,150,0.000001,150,2,1,beta,none,extended_benchmark
4,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1.csv,7920,2.0,150,0.000001,150,5,1,exp,none,extended_benchmark
5,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2.csv,7920,2.0,150,0.000001,150,5,2,exp,none,extended_benchmark
6,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2.csv,7920,2.0,150,0.000001,150,2,2,exp,none,extended_benchmark
7,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1.csv,7920,2.0,150,0.000001,150,2,1,exp,none,extended_benchmark
8,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2_global_scaler.csv,7680,0.5,150,0.000001,150,5,2,exp,global_scaler,extended_benchmark
9,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1_global_scaler.csv,7680,2.0,150,0.000001,150,2,1,beta,global_scaler,extended_benchmark
10,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2.csv,7920,0.5,150,0.000001,150,2,2,beta,none,extended_benchmark
11,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1_global_scaler.csv,7680,0.5,150,0.000001,150,2,1,exp,global_scaler,extended_benchmark
12,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2_global_scaler.csv,7680,2.0,150,0.000001,150,5,2,beta,global_scaler,extended_benchmark
13,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1.csv,7920,0.5,150,0.000001,150,2,1,beta,none,extended_benchmark
14,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1.csv,7920,0.5,150,0.000001,150,5,1,beta,none,extended_benchmark
15,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2_global_scaler.csv,7680,2.0,150,0.000001,150,5,2,exp,global_scaler,extended_benchmark
16,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1_global_scaler.csv,7680,0.5,150,0.000001,150,2,1,beta,global_scaler,extended_benchmark
17,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2.csv,7920,0.5,150,0.000001,150,5,2,beta,none,extended_benchmark
18,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1_global_scaler.csv,7680,2.0,150,0.000001,150,2,1,exp,global_scaler,extended_benchmark
19,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2_global_scaler.csv,7680,0.5,150,0.000001,150,5,2,beta,global_scaler,extended_benchmark
20,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2.csv,7920,0.5,150,0.000001,150,2,2,exp,none,extended_benchmark
21,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1_global_scaler.csv,7680,2.0,150,0.000001,150,5,1,exp,global_scaler,extended_benchmark
22,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2_global_scaler.csv,7680,0.5,150,0.000001,150,2,2,beta,global_scaler,extended_benchmark
23,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_1.csv,7920,0.5,150,0.000001,150,2,1,exp,none,extended_benchmark
24,extended_benchmark_entropic_target_exp_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2_global_scaler.csv,7680,2.0,150,0.000001,150,2,2,exp,global_scaler,extended_benchmark
25,extended_benchmark_entropic_target_beta_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1_global_scaler.csv,7680,0.5,150,0.000001,150,5,1,beta,global_scaler,extended_benchmark
26,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1_global_scaler.csv,7680,0.5,150,0.000001,150,5,1,exp,global_scaler,extended_benchmark
27,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1.csv,7920,0.5,150,0.000001,150,5,1,exp,none,extended_benchmark
28,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2_global_scaler.csv,7680,2.0,150,0.000001,150,2,2,beta,global_scaler,extended_benchmark
29,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_2_n_targets_multiplier_2_global_scaler.csv,7680,0.5,150,0.000001,150,2,2,exp,global_scaler,extended_benchmark
30,extended_benchmark_entropic_target_beta_eps_2.0_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_1_global_scaler.csv,7680,2.0,150,0.000001,150,5,1,beta,global_scaler,extended_benchmark
31,extended_benchmark_entropic_target_exp_eps_0.5_iters_150_tol_1e-06_rs_42_grid_size_5_n_targets_multiplier_2.csv,7920,0.5,150,0.000001,150,5,2,exp,none,extended_benchmark

Combined DataFrame shape: (249600, 33)

Hyperparameter Summary:

         hyperparameter          unique_values  count
0                   eps             [0.5, 2.0]      2
1             grid_size                 [2, 5]      2
2  n_targets_multiplier                 [1, 2]      2
3           scaler_type  [global_scaler, none]      2
4                target            [beta, exp]      2

Dataset Summary:

         dataset  row_count
0        cifar10      83200
1       cifar100      83200
2  tiny_imagenet      83200

Total source files loaded: 32

In [8]:
# Analyze hyperparameter effects across all datasets
print("Analyzing hyperparameter effects across all datasets...")

# Focus on a subset of composite measures for initial analysis
# key_composites = [
#     "COMPOSITE BAYES ALL OUTER",
#     "COMPOSITE BAYES ALL INNER", 
#     "COMPOSITE BAYES ALL CENTRAL",
#     "COMPOSITE EXCESS ALL OUTER OUTER"
# ]

key_composites = list(INTERESTING_COMPOSITIONS.keys())  

general_results, analysis_summary = analyze_hyperparameter_effects_general(
    combined_df, 
    composite_names=key_composites
)

print("\nAnalysis Summary:")
display(analysis_summary)

Analyzing hyperparameter effects across all datasets...
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns

Analysis Summary:

,hyperparameter_combination,rows_count,eps,grid_size,n_targets_multiplier,target,scaler_type
0,"eps=0.5, grid_size=2, n_targets_multiplier=1, target=beta, scaler_type=global_scaler",7680,0.5,2,1,beta,global_scaler
1,"eps=0.5, grid_size=2, n_targets_multiplier=1, target=beta, scaler_type=none",7920,0.5,2,1,beta,none
2,"eps=0.5, grid_size=2, n_targets_multiplier=1, target=exp, scaler_type=global_scaler",7680,0.5,2,1,exp,global_scaler
3,"eps=0.5, grid_size=2, n_targets_multiplier=1, target=exp, scaler_type=none",7920,0.5,2,1,exp,none
4,"eps=0.5, grid_size=2, n_targets_multiplier=2, target=beta, scaler_type=global_scaler",7680,0.5,2,2,beta,global_scaler
5,"eps=0.5, grid_size=2, n_targets_multiplier=2, target=beta, scaler_type=none",7920,0.5,2,2,beta,none
6,"eps=0.5, grid_size=2, n_targets_multiplier=2, target=exp, scaler_type=global_scaler",7680,0.5,2,2,exp,global_scaler
7,"eps=0.5, grid_size=2, n_targets_multiplier=2, target=exp, scaler_type=none",7920,0.5,2,2,exp,none
8,"eps=0.5, grid_size=5, n_targets_multiplier=1, target=beta, scaler_type=global_scaler",7680,0.5,5,1,beta,global_scaler
9,"eps=0.5, grid_size=5, n_targets_multiplier=1, target=beta, scaler_type=none",7920,0.5,5,1,beta,none
10,"eps=0.5, grid_size=5, n_targets_multiplier=1, target=exp, scaler_type=global_scaler",7680,0.5,5,1,exp,global_scaler
11,"eps=0.5, grid_size=5, n_targets_multiplier=1, target=exp, scaler_type=none",7920,0.5,5,1,exp,none
12,"eps=0.5, grid_size=5, n_targets_multiplier=2, target=beta, scaler_type=global_scaler",7680,0.5,5,2,beta,global_scaler
13,"eps=0.5, grid_size=5, n_targets_multiplier=2, target=beta, scaler_type=none",7920,0.5,5,2,beta,none
14,"eps=0.5, grid_size=5, n_targets_multiplier=2, target=exp, scaler_type=global_scaler",7680,0.5,5,2,exp,global_scaler
15,"eps=0.5, grid_size=5, n_targets_multiplier=2, target=exp, scaler_type=none",7920,0.5,5,2,exp,none
16,"eps=2.0, grid_size=2, n_targets_multiplier=1, target=beta, scaler_type=global_scaler",7680,2.0,2,1,beta,global_scaler
17,"eps=2.0, grid_size=2, n_targets_multiplier=1, target=beta, scaler_type=none",7920,2.0,2,1,beta,none
18,"eps=2.0, grid_size=2, n_targets_multiplier=1, target=exp, scaler_type=global_scaler",7680,2.0,2,1,exp,global_scaler
19,"eps=2.0, grid_size=2, n_targets_multiplier=1, target=exp, scaler_type=none",7920,2.0,2,1,exp,none
20,"eps=2.0, grid_size=2, n_targets_multiplier=2, target=beta, scaler_type=global_scaler",7680,2.0,2,2,beta,global_scaler
21,"eps=2.0, grid_size=2, n_targets_multiplier=2, target=beta, scaler_type=none",7920,2.0,2,2,beta,none
22,"eps=2.0, grid_size=2, n_targets_multiplier=2, target=exp, scaler_type=global_scaler",7680,2.0,2,2,exp,global_scaler
23,"eps=2.0, grid_size=2, n_targets_multiplier=2, target=exp, scaler_type=none",7920,2.0,2,2,exp,none
24,"eps=2.0, grid_size=5, n_targets_multiplier=1, target=beta, scaler_type=global_scaler",7680,2.0,5,1,beta,global_scaler
25,"eps=2.0, grid_size=5, n_targets_multiplier=1, target=beta, scaler_type=none",7920,2.0,5,1,beta,none
26,"eps=2.0, grid_size=5, n_targets_multiplier=1, target=exp, scaler_type=global_scaler",7680,2.0,5,1,exp,global_scaler
27,"eps=2.0, grid_size=5, n_targets_multiplier=1, target=exp, scaler_type=none",7920,2.0,5,1,exp,none
28,"eps=2.0, grid_size=5, n_targets_multiplier=2, target=beta, scaler_type=global_scaler",7680,2.0,5,2,beta,global_scaler
29,"eps=2.0, grid_size=5, n_targets_multiplier=2, target=beta, scaler_type=none",7920,2.0,5,2,beta,none
30,"eps=2.0, grid_size=5, n_targets_multiplier=2, target=exp, scaler_type=global_scaler",7680,2.0,5,2,exp,global_scaler
31,"eps=2.0, grid_size=5, n_targets_multiplier=2, target=exp, scaler_type=none",7920,2.0,5,2,exp,none

In [9]:
# Display results for each composite measure
for composite_name, results_df in general_results.items():
    print(f"\n{'='*60}")
    print(f"RESULTS FOR: {composite_name}")
    print(f"{'='*60}")
    display(results_df.sort_values('avg_rank', ascending=True))
    
    if not results_df.empty and 'pareto_percentage' in results_df.columns:
        # Create best hyperparameter summary
        best_pareto_idx = results_df['pareto_percentage'].idxmax()
        best_pareto_row = results_df.loc[best_pareto_idx]
        
        best_dominance_idx = results_df['dominates_50_pct'].idxmax() if 'dominates_50_pct' in results_df.columns else None
        best_dominance_row = results_df.loc[best_dominance_idx] if best_dominance_idx is not None else None
        
        summary_data = []
        
        # Best by Pareto percentage
        summary_data.append({
            'metric': 'Best Pareto %',
            'value': f"{best_pareto_row['pareto_percentage']:.1f}%",
            'eps': best_pareto_row.get('eps', 'N/A'),
            'grid_size': best_pareto_row.get('grid_size', 'N/A'),
            'n_targets_multiplier': best_pareto_row.get('n_targets_multiplier', 'N/A'),
            'scaler_type': best_pareto_row.get('scaler_type', 'N/A'),
            'target': best_pareto_row.get('target', 'N/A')
        })
        
        # Best by dominance
        if best_dominance_row is not None:
            summary_data.append({
                'metric': 'Best Dominance 50%',
                'value': f"{best_dominance_row['dominates_50_pct']}/{best_dominance_row['n_problems']}",
                'eps': best_dominance_row.get('eps', 'N/A'),
                'grid_size': best_dominance_row.get('grid_size', 'N/A'),
                'n_targets_multiplier': best_dominance_row.get('n_targets_multiplier', 'N/A'),
                'scaler_type': best_dominance_row.get('scaler_type', 'N/A'),
                'target': best_dominance_row.get('target', 'N/A')
            })
        
        best_summary_df = pd.DataFrame(summary_data)
        print("\nBest Hyperparameter Combinations:")
        display(best_summary_df)
    
    # Add individual component analysis
    print(f"\n{'-'*40}")
    print(f"INDIVIDUAL COMPONENT ANALYSIS FOR: {composite_name}")
    print(f"{'-'*40}")
    
    try:
        individual_stats = analyze_individual_component_performance(
            combined_df, composite_name, selective_metric="acc_cov_auc"
        )
        
        if not individual_stats.empty:
            print("Individual Component Performance:")
            display(individual_stats[['component', 'avg_rank', 'dominates_50_pct', 'dominates_75_pct', 
                                    'dominates_100_pct', 'dominates_50_pct_rate', 'dominates_75_pct_rate', 
                                    'dominates_100_pct_rate', 'n_problems']])
            
            # Summary of best individual components
            if len(individual_stats) > 0:
                best_component = individual_stats.iloc[0]
                print(f"\nBest Individual Component: {best_component['component']}")
                print(f"  - Average Rank: {best_component['avg_rank']:.2f}")
                print(f"  - Dominates 50% in {best_component['dominates_50_pct']}/{best_component['n_problems']} problems ({best_component['dominates_50_pct_rate']:.1f}%)")
                print(f"  - Dominates 75% in {best_component['dominates_75_pct']}/{best_component['n_problems']} problems ({best_component['dominates_75_pct_rate']:.1f}%)")
                print(f"  - Dominates 100% in {best_component['dominates_100_pct']}/{best_component['n_problems']} problems ({best_component['dominates_100_pct_rate']:.1f}%)")
        else:
            print("No individual component data available.")
            
    except Exception as e:
        print(f"Error analyzing individual components: {e}")
        import traceback
        traceback.print_exc()

============================================================
RESULTS FOR: COMPOSITE BAYES ALL OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
2,0.5,2,1,exp,global_scaler,15,1,9,11,15,28.266667,57,105,54.285714
6,0.5,2,2,exp,global_scaler,15,1,8,11,15,28.266667,49,105,46.666667
10,0.5,5,1,exp,global_scaler,15,1,9,11,15,28.266667,57,105,54.285714
14,0.5,5,2,exp,global_scaler,15,1,8,11,15,28.533333,49,105,46.666667
26,2.0,5,1,exp,global_scaler,15,1,9,11,15,28.600000,57,105,54.285714
18,2.0,2,1,exp,global_scaler,15,1,9,11,15,28.666667,57,105,54.285714
4,0.5,2,2,beta,global_scaler,15,1,8,11,15,28.800000,49,105,46.666667
12,0.5,5,2,beta,global_scaler,15,1,8,11,15,28.800000,49,105,46.666667
22,2.0,2,2,exp,global_scaler,15,1,8,11,15,28.800000,49,105,46.666667
30,2.0,5,2,exp,global_scaler,15,1,8,11,15,28.866667,49,105,46.666667
24,2.0,5,1,beta,global_scaler,15,1,8,11,15,28.933333,49,105,46.666667
16,2.0,2,1,beta,global_scaler,15,1,8,11,15,28.933333,49,105,46.666667
20,2.0,2,2,beta,global_scaler,15,1,8,11,15,29.000000,49,105,46.666667
28,2.0,5,2,beta,global_scaler,15,1,8,11,15,29.000000,49,105,46.666667
8,0.5,5,1,beta,global_scaler,15,1,8,11,15,29.000000,49,105,46.666667
0,0.5,2,1,beta,global_scaler,15,1,8,11,15,29.000000,49,105,46.666667
3,0.5,2,1,exp,none,15,0,6,10,15,34.133333,30,105,28.571429
11,0.5,5,1,exp,none,15,0,6,10,15,34.133333,30,105,28.571429
15,0.5,5,2,exp,none,15,0,5,9,15,34.266667,25,105,23.809524
7,0.5,2,2,exp,none,15,0,5,9,15,34.266667,25,105,23.809524
19,2.0,2,1,exp,none,15,0,7,10,15,36.733333,37,105,35.238095
27,2.0,5,1,exp,none,15,0,7,9,15,36.933333,36,105,34.285714
23,2.0,2,2,exp,none,15,0,6,9,15,37.066667,30,105,28.571429
31,2.0,5,2,exp,none,15,0,6,9,15,37.133333,30,105,28.571429
5,0.5,2,2,beta,none,15,0,7,9,15,37.266667,36,105,34.285714
13,0.5,5,2,beta,none,15,0,7,9,15,37.266667,36,105,34.285714
9,0.5,5,1,beta,none,15,0,6,9,15,37.333333,30,105,28.571429
1,0.5,2,1,beta,none,15,0,6,9,15,37.333333,30,105,28.571429
29,2.0,5,2,beta,none,15,0,7,9,15,37.400000,36,105,34.285714
21,2.0,2,2,beta,none,15,0,7,9,15,37.466667,36,105,34.285714
17,2.0,2,1,beta,none,15,0,7,9,15,37.533333,36,105,34.285714
25,2.0,5,1,beta,none,15,0,7,9,15,37.533333,36,105,34.285714

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,54.3%,0.5,2,1,global_scaler,exp
1,Best Dominance 50%,11/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,11,10,8,73.333333,66.666667,53.333333,15
1,R_b 1 (Brier),29.066667,13,6,4,86.666667,40.000000,26.666667,15
2,R_b 1 (Spherical),29.133333,15,10,1,100.000000,66.666667,6.666667,15
3,R_b 1 (Zero-one),32.000000,6,4,2,40.000000,26.666667,13.333333,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
10,0.5,5,1,exp,global_scaler,15,1,7,8,15,18.533333,62,105,59.047619
0,0.5,2,1,beta,global_scaler,15,2,8,8,15,18.666667,69,105,65.714286
8,0.5,5,1,beta,global_scaler,15,2,8,8,15,18.666667,69,105,65.714286
6,0.5,2,2,exp,global_scaler,15,0,7,8,15,18.666667,56,105,53.333333
24,2.0,5,1,beta,global_scaler,15,2,8,8,15,18.666667,69,105,65.714286
30,2.0,5,2,exp,global_scaler,15,2,8,8,15,18.666667,69,105,65.714286
16,2.0,2,1,beta,global_scaler,15,2,8,8,15,18.666667,69,105,65.714286
4,0.5,2,2,beta,global_scaler,15,2,8,8,15,18.733333,69,105,65.714286
12,0.5,5,2,beta,global_scaler,15,2,8,8,15,18.733333,69,105,65.714286
20,2.0,2,2,beta,global_scaler,15,2,8,8,15,18.800000,69,105,65.714286
14,0.5,5,2,exp,global_scaler,15,0,7,8,15,18.800000,56,105,53.333333
28,2.0,5,2,beta,global_scaler,15,2,8,8,15,18.800000,69,105,65.714286
26,2.0,5,1,exp,global_scaler,15,1,7,8,15,18.866667,62,105,59.047619
22,2.0,2,2,exp,global_scaler,15,1,7,8,15,18.933333,62,105,59.047619
2,0.5,2,1,exp,global_scaler,15,0,7,8,15,18.933333,56,105,53.333333
18,2.0,2,1,exp,global_scaler,15,1,7,8,15,19.133333,62,105,59.047619
3,0.5,2,1,exp,none,15,1,8,8,15,20.000000,57,105,54.285714
11,0.5,5,1,exp,none,15,1,8,8,15,20.000000,57,105,54.285714
15,0.5,5,2,exp,none,15,1,9,9,15,20.200000,58,105,55.238095
7,0.5,2,2,exp,none,15,1,9,9,15,20.200000,58,105,55.238095
27,2.0,5,1,exp,none,15,1,8,8,15,21.400000,57,105,54.285714
19,2.0,2,1,exp,none,15,1,8,8,15,21.400000,57,105,54.285714
5,0.5,2,2,beta,none,15,1,8,8,15,21.733333,57,105,54.285714
13,0.5,5,2,beta,none,15,1,8,8,15,21.733333,57,105,54.285714
21,2.0,2,2,beta,none,15,1,8,8,15,21.866667,57,105,54.285714
29,2.0,5,2,beta,none,15,1,8,8,15,21.866667,57,105,54.285714
9,0.5,5,1,beta,none,15,1,8,8,15,22.000000,57,105,54.285714
1,0.5,2,1,beta,none,15,1,8,8,15,22.000000,57,105,54.285714
31,2.0,5,2,exp,none,15,1,8,8,15,22.066667,57,105,54.285714
23,2.0,2,2,exp,none,15,1,8,8,15,22.066667,57,105,54.285714
17,2.0,2,1,beta,none,15,1,8,8,15,22.200000,57,105,54.285714
25,2.0,5,1,beta,none,15,1,8,8,15,22.200000,57,105,54.285714

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,65.7%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,9/15,0.5,2,2,none,exp

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,15,9,0,100.000000,60.000000,0.000000,15
1,R_b 2 (Brier),18.533333,15,7,1,100.000000,46.666667,6.666667,15
0,R_b 2 (Logscore),20.800000,8,7,7,53.333333,46.666667,46.666667,15
3,R_b 2 (Zero-one),21.600000,7,7,7,46.666667,46.666667,46.666667,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 9/15 problems (60.0%)
  - Dominates 100% in 0/15 problems (0.0%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
10,0.5,5,1,exp,global_scaler,15,0,6,14,15,20.066667,43,105,40.952381
2,0.5,2,1,exp,global_scaler,15,0,6,14,15,20.133333,41,105,39.047619
14,0.5,5,2,exp,global_scaler,15,0,6,14,15,20.333333,41,105,39.047619
18,2.0,2,1,exp,global_scaler,15,0,5,11,15,20.400000,38,105,36.190476
22,2.0,2,2,exp,global_scaler,15,0,5,11,15,20.533333,34,105,32.380952
30,2.0,5,2,exp,global_scaler,15,0,5,12,15,20.533333,35,105,33.333333
6,0.5,2,2,exp,global_scaler,15,0,5,14,15,20.600000,36,105,34.285714
0,0.5,2,1,beta,global_scaler,15,0,5,12,15,20.600000,35,105,33.333333
16,2.0,2,1,beta,global_scaler,15,0,5,12,15,20.600000,35,105,33.333333
8,0.5,5,1,beta,global_scaler,15,0,5,12,15,20.600000,35,105,33.333333
24,2.0,5,1,beta,global_scaler,15,0,5,12,15,20.600000,35,105,33.333333
28,2.0,5,2,beta,global_scaler,15,0,5,11,15,20.666667,34,105,32.380952
12,0.5,5,2,beta,global_scaler,15,0,5,11,15,20.666667,34,105,32.380952
20,2.0,2,2,beta,global_scaler,15,0,5,11,15,20.666667,34,105,32.380952
4,0.5,2,2,beta,global_scaler,15,0,5,11,15,20.666667,34,105,32.380952
26,2.0,5,1,exp,global_scaler,15,0,4,11,15,20.733333,31,105,29.523810
13,0.5,5,2,beta,none,15,0,6,15,15,24.200000,44,105,41.904762
5,0.5,2,2,beta,none,15,0,6,15,15,24.266667,44,105,41.904762
25,2.0,5,1,beta,none,15,0,6,15,15,24.333333,44,105,41.904762
19,2.0,2,1,exp,none,15,0,7,15,15,24.333333,51,105,48.571429
17,2.0,2,1,beta,none,15,0,6,15,15,24.333333,44,105,41.904762
9,0.5,5,1,beta,none,15,0,6,15,15,24.333333,44,105,41.904762
27,2.0,5,1,exp,none,15,0,7,15,15,24.400000,51,105,48.571429
1,0.5,2,1,beta,none,15,0,6,15,15,24.466667,44,105,41.904762
23,2.0,2,2,exp,none,15,0,7,15,15,24.466667,51,105,48.571429
21,2.0,2,2,beta,none,15,0,6,15,15,24.466667,44,105,41.904762
29,2.0,5,2,beta,none,15,0,6,15,15,24.466667,44,105,41.904762
31,2.0,5,2,exp,none,15,0,7,15,15,24.466667,51,105,48.571429
3,0.5,2,1,exp,none,15,0,7,12,15,25.733333,41,105,39.047619
11,0.5,5,1,exp,none,15,0,7,12,15,25.866667,41,105,39.047619
15,0.5,5,2,exp,none,15,0,5,12,15,25.866667,37,105,35.238095
7,0.5,2,2,exp,none,15,0,5,12,15,25.933333,37,105,35.238095

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,48.6%,2.0,2,1,none,exp
1,Best Dominance 50%,15/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,14,14,1,93.333333,93.333333,6.666667,15
3,R_b 3 (Zero-one),21.600000,15,6,6,100.000000,40.000000,40.000000,15
0,R_b 3 (Logscore),22.333333,11,8,6,73.333333,53.333333,40.000000,15
2,R_b 3 (Spherical),27.333333,5,2,2,33.333333,13.333333,13.333333,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 1/15 problems (6.7%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
6,0.5,2,2,exp,global_scaler,15,1,1,9,15,27.800000,57,105,54.285714
14,0.5,5,2,exp,global_scaler,15,1,1,9,15,27.800000,57,105,54.285714
10,0.5,5,1,exp,global_scaler,15,1,1,9,15,27.866667,57,105,54.285714
2,0.5,2,1,exp,global_scaler,15,1,1,9,15,27.933333,57,105,54.285714
4,0.5,2,2,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
12,0.5,5,2,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
20,2.0,2,2,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
16,2.0,2,1,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
24,2.0,5,1,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
26,2.0,5,1,exp,global_scaler,15,1,1,9,15,28.133333,57,105,54.285714
28,2.0,5,2,beta,global_scaler,15,1,1,10,15,28.133333,62,105,59.047619
30,2.0,5,2,exp,global_scaler,15,1,1,10,15,28.200000,62,105,59.047619
18,2.0,2,1,exp,global_scaler,15,1,1,9,15,28.200000,57,105,54.285714
22,2.0,2,2,exp,global_scaler,15,1,1,10,15,28.200000,62,105,59.047619
8,0.5,5,1,beta,global_scaler,15,1,1,10,15,28.200000,62,105,59.047619
0,0.5,2,1,beta,global_scaler,15,1,1,10,15,28.200000,62,105,59.047619
15,0.5,5,2,exp,none,15,1,1,9,15,32.333333,57,105,54.285714
7,0.5,2,2,exp,none,15,1,1,9,15,32.400000,57,105,54.285714
11,0.5,5,1,exp,none,15,0,0,9,15,33.200000,51,105,48.571429
3,0.5,2,1,exp,none,15,0,0,8,15,33.466667,45,105,42.857143
31,2.0,5,2,exp,none,15,1,1,9,15,35.200000,57,105,54.285714
23,2.0,2,2,exp,none,15,1,1,9,15,35.266667,57,105,54.285714
1,0.5,2,1,beta,none,15,1,1,9,15,35.266667,57,105,54.285714
9,0.5,5,1,beta,none,15,1,1,9,15,35.266667,57,105,54.285714
13,0.5,5,2,beta,none,15,1,1,9,15,35.600000,57,105,54.285714
5,0.5,2,2,beta,none,15,1,1,9,15,35.600000,57,105,54.285714
27,2.0,5,1,exp,none,15,1,1,9,15,35.600000,57,105,54.285714
19,2.0,2,1,exp,none,15,1,1,9,15,35.666667,57,105,54.285714
25,2.0,5,1,beta,none,15,1,1,9,15,35.733333,57,105,54.285714
17,2.0,2,1,beta,none,15,1,1,9,15,35.733333,57,105,54.285714
21,2.0,2,2,beta,none,15,1,1,9,15,36.000000,57,105,54.285714
29,2.0,5,2,beta,none,15,1,1,9,15,36.000000,57,105,54.285714

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,59.0%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,10/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,10,8,8,66.666667,53.333333,53.333333,15
1,R_b 1 (Brier),29.066667,6,6,6,40.000000,40.000000,40.000000,15
2,R_b 1 (Spherical),29.133333,14,1,1,93.333333,6.666667,6.666667,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 10/15 problems (66.7%)
  - Dominates 75% in 8/15 problems (53.3%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
6,0.5,2,2,exp,global_scaler,15,1,1,7,15,19.066667,62,105,59.047619
14,0.5,5,2,exp,global_scaler,15,1,1,7,15,19.066667,62,105,59.047619
2,0.5,2,1,exp,global_scaler,15,1,1,7,15,19.133333,62,105,59.047619
0,0.5,2,1,beta,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
8,0.5,5,1,beta,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
10,0.5,5,1,exp,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
30,2.0,5,2,exp,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
16,2.0,2,1,beta,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
24,2.0,5,1,beta,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
26,2.0,5,1,exp,global_scaler,15,1,1,7,15,19.333333,62,105,59.047619
18,2.0,2,1,exp,global_scaler,15,1,1,7,15,19.400000,62,105,59.047619
22,2.0,2,2,exp,global_scaler,15,1,1,7,15,19.400000,62,105,59.047619
12,0.5,5,2,beta,global_scaler,15,1,1,7,15,19.400000,62,105,59.047619
4,0.5,2,2,beta,global_scaler,15,1,1,7,15,19.400000,62,105,59.047619
20,2.0,2,2,beta,global_scaler,15,1,1,7,15,19.600000,62,105,59.047619
28,2.0,5,2,beta,global_scaler,15,1,1,7,15,19.600000,62,105,59.047619
7,0.5,2,2,exp,none,15,2,2,8,15,20.000000,69,105,65.714286
15,0.5,5,2,exp,none,15,2,2,8,15,20.000000,69,105,65.714286
3,0.5,2,1,exp,none,15,2,2,8,15,20.066667,69,105,65.714286
11,0.5,5,1,exp,none,15,2,2,8,15,20.133333,69,105,65.714286
19,2.0,2,1,exp,none,15,2,2,8,15,21.800000,69,105,65.714286
23,2.0,2,2,exp,none,15,2,2,8,15,21.800000,69,105,65.714286
31,2.0,5,2,exp,none,15,2,2,8,15,21.866667,69,105,65.714286
9,0.5,5,1,beta,none,15,2,2,8,15,21.933333,69,105,65.714286
1,0.5,2,1,beta,none,15,2,2,8,15,21.933333,69,105,65.714286
27,2.0,5,1,exp,none,15,2,2,8,15,22.000000,69,105,65.714286
25,2.0,5,1,beta,none,15,2,2,8,15,22.200000,69,105,65.714286
17,2.0,2,1,beta,none,15,2,2,8,15,22.200000,69,105,65.714286
13,0.5,5,2,beta,none,15,2,2,8,15,22.266667,69,105,65.714286
5,0.5,2,2,beta,none,15,2,2,8,15,22.266667,69,105,65.714286
21,2.0,2,2,beta,none,15,2,2,8,15,22.266667,69,105,65.714286
29,2.0,5,2,beta,none,15,2,2,8,15,22.333333,69,105,65.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,65.7%,0.5,2,1,none,beta
1,Best Dominance 50%,8/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,11,5,5,73.333333,33.333333,33.333333,15
1,R_b 2 (Brier),18.533333,12,3,3,80.000000,20.000000,20.000000,15
0,R_b 2 (Logscore),20.800000,7,7,7,46.666667,46.666667,46.666667,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 5/15 problems (33.3%)
  - Dominates 100% in 5/15 problems (33.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
14,0.5,5,2,exp,global_scaler,15,0,0,8,15,20.533333,38,105,36.190476
26,2.0,5,1,exp,global_scaler,15,0,0,8,15,20.600000,38,105,36.190476
24,2.0,5,1,beta,global_scaler,15,1,1,8,15,20.600000,45,105,42.857143
16,2.0,2,1,beta,global_scaler,15,1,1,8,15,20.600000,45,105,42.857143
12,0.5,5,2,beta,global_scaler,15,1,1,8,15,20.666667,45,105,42.857143
0,0.5,2,1,beta,global_scaler,15,1,1,8,15,20.666667,45,105,42.857143
8,0.5,5,1,beta,global_scaler,15,1,1,8,15,20.666667,45,105,42.857143
4,0.5,2,2,beta,global_scaler,15,1,1,8,15,20.666667,45,105,42.857143
30,2.0,5,2,exp,global_scaler,15,0,0,8,15,20.733333,38,105,36.190476
2,0.5,2,1,exp,global_scaler,15,0,0,8,15,20.733333,38,105,36.190476
10,0.5,5,1,exp,global_scaler,15,0,0,8,15,20.800000,38,105,36.190476
18,2.0,2,1,exp,global_scaler,15,0,0,8,15,20.800000,38,105,36.190476
6,0.5,2,2,exp,global_scaler,15,0,0,8,15,20.800000,38,105,36.190476
28,2.0,5,2,beta,global_scaler,15,1,1,8,15,20.866667,45,105,42.857143
20,2.0,2,2,beta,global_scaler,15,1,1,8,15,20.866667,45,105,42.857143
22,2.0,2,2,exp,global_scaler,15,0,0,9,15,20.933333,44,105,41.904762
1,0.5,2,1,beta,none,15,2,2,11,15,22.400000,58,105,55.238095
9,0.5,5,1,beta,none,15,2,2,11,15,22.400000,58,105,55.238095
31,2.0,5,2,exp,none,15,2,2,11,15,22.600000,58,105,55.238095
25,2.0,5,1,beta,none,15,2,2,11,15,22.733333,58,105,55.238095
17,2.0,2,1,beta,none,15,2,2,11,15,22.733333,58,105,55.238095
5,0.5,2,2,beta,none,15,2,2,10,15,22.800000,51,105,48.571429
13,0.5,5,2,beta,none,15,2,2,10,15,22.800000,51,105,48.571429
15,0.5,5,2,exp,none,15,2,2,9,15,22.933333,52,105,49.523810
29,2.0,5,2,beta,none,15,2,2,10,15,23.000000,51,105,48.571429
21,2.0,2,2,beta,none,15,2,2,10,15,23.000000,51,105,48.571429
7,0.5,2,2,exp,none,15,2,2,9,15,23.133333,52,105,49.523810
23,2.0,2,2,exp,none,15,2,2,10,15,23.266667,54,105,51.428571
19,2.0,2,1,exp,none,15,3,3,10,15,23.600000,61,105,58.095238
27,2.0,5,1,exp,none,15,2,2,10,15,23.800000,54,105,51.428571
11,0.5,5,1,exp,none,15,2,2,8,15,24.133333,48,105,45.714286
3,0.5,2,1,exp,none,15,2,2,8,15,24.466667,48,105,45.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,58.1%,2.0,2,1,none,exp
1,Best Dominance 50%,11/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,14,7,7,93.333333,46.666667,46.666667,15
0,R_b 3 (Logscore),22.333333,11,6,6,73.333333,40.000000,40.000000,15
2,R_b 3 (Spherical),27.333333,5,2,2,33.333333,13.333333,13.333333,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 7/15 problems (46.7%)
  - Dominates 100% in 7/15 problems (46.7%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,4,7,8,15,36.066667,62,105,59.047619
21,2.0,2,2,beta,none,15,4,7,8,15,36.066667,62,105,59.047619
17,2.0,2,1,beta,none,15,4,7,8,15,36.133333,62,105,59.047619
25,2.0,5,1,beta,none,15,4,7,8,15,36.133333,62,105,59.047619
9,0.5,5,1,beta,none,15,4,7,8,15,36.533333,62,105,59.047619
5,0.5,2,2,beta,none,15,4,7,8,15,36.600000,62,105,59.047619
13,0.5,5,2,beta,none,15,4,7,8,15,36.600000,62,105,59.047619
31,2.0,5,2,exp,none,15,4,7,8,15,36.600000,62,105,59.047619
1,0.5,2,1,beta,none,15,4,7,8,15,36.666667,62,105,59.047619
23,2.0,2,2,exp,none,15,4,7,8,15,37.000000,62,105,59.047619
27,2.0,5,1,exp,none,15,4,7,8,15,37.066667,62,105,59.047619
19,2.0,2,1,exp,none,15,4,7,8,15,37.200000,62,105,59.047619
15,0.5,5,2,exp,none,15,4,4,7,15,39.000000,50,105,47.619048
7,0.5,2,2,exp,none,15,4,4,7,15,39.200000,50,105,47.619048
11,0.5,5,1,exp,none,15,4,5,7,15,40.000000,50,105,47.619048
3,0.5,2,1,exp,none,15,4,5,7,15,40.133333,50,105,47.619048
30,2.0,5,2,exp,global_scaler,15,0,1,1,15,68.333333,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,1,1,15,68.400000,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,1,1,15,68.400000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,1,1,15,68.466667,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,1,1,15,68.933333,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,1,1,15,68.933333,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,1,1,15,68.933333,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,1,1,15,68.933333,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,1,1,15,69.133333,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,1,1,15,69.200000,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,1,1,15,69.200000,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,1,1,15,69.200000,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,1,1,15,69.666667,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,1,1,15,69.666667,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,1,1,15,69.733333,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,1,1,15,69.733333,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,59.0%,0.5,2,1,none,beta
1,Best Dominance 50%,8/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,11,10,8,73.333333,66.666667,53.333333,15
1,R_b 1 (Brier),29.066667,12,6,4,80.000000,40.000000,26.666667,15
2,R_b 1 (Spherical),29.133333,15,9,1,100.000000,60.000000,6.666667,15
3,R_b 1 (Zero-one),32.000000,6,4,2,40.000000,26.666667,13.333333,15
4,mahalanobis,78.000000,1,1,0,6.666667,6.666667,0.000000,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL INNER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,4,8,8,15,21.800000,69,105,65.714286
21,2.0,2,2,beta,none,15,4,8,8,15,21.800000,69,105,65.714286
17,2.0,2,1,beta,none,15,4,8,8,15,22.133333,69,105,65.714286
25,2.0,5,1,beta,none,15,4,8,8,15,22.133333,69,105,65.714286
31,2.0,5,2,exp,none,15,4,8,8,15,22.666667,69,105,65.714286
5,0.5,2,2,beta,none,15,4,8,8,15,22.800000,69,105,65.714286
13,0.5,5,2,beta,none,15,4,8,8,15,22.800000,69,105,65.714286
9,0.5,5,1,beta,none,15,4,8,8,15,22.866667,69,105,65.714286
23,2.0,2,2,exp,none,15,4,8,8,15,22.866667,69,105,65.714286
1,0.5,2,1,beta,none,15,4,8,8,15,22.866667,69,105,65.714286
19,2.0,2,1,exp,none,15,4,8,8,15,23.066667,69,105,65.714286
27,2.0,5,1,exp,none,15,4,8,8,15,23.066667,69,105,65.714286
7,0.5,2,2,exp,none,15,4,5,5,15,26.600000,54,105,51.428571
15,0.5,5,2,exp,none,15,4,5,5,15,26.733333,54,105,51.428571
11,0.5,5,1,exp,none,15,4,5,5,15,27.733333,54,105,51.428571
3,0.5,2,1,exp,none,15,4,5,5,15,27.733333,54,105,51.428571
30,2.0,5,2,exp,global_scaler,15,1,2,2,15,65.066667,14,105,13.333333
26,2.0,5,1,exp,global_scaler,15,1,2,2,15,65.133333,14,105,13.333333
22,2.0,2,2,exp,global_scaler,15,1,2,2,15,65.200000,14,105,13.333333
20,2.0,2,2,beta,global_scaler,15,1,2,2,15,65.200000,14,105,13.333333
28,2.0,5,2,beta,global_scaler,15,1,2,2,15,65.200000,14,105,13.333333
12,0.5,5,2,beta,global_scaler,15,1,2,2,15,65.200000,14,105,13.333333
4,0.5,2,2,beta,global_scaler,15,1,2,2,15,65.200000,14,105,13.333333
0,0.5,2,1,beta,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
6,0.5,2,2,exp,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
14,0.5,5,2,exp,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
8,0.5,5,1,beta,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
10,0.5,5,1,exp,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
24,2.0,5,1,beta,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
16,2.0,2,1,beta,global_scaler,15,1,2,2,15,65.266667,14,105,13.333333
2,0.5,2,1,exp,global_scaler,15,1,2,2,15,65.333333,14,105,13.333333
18,2.0,2,1,exp,global_scaler,15,1,2,2,15,65.400000,14,105,13.333333

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,65.7%,0.5,2,1,none,beta
1,Best Dominance 50%,8/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL INNER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,15,8,0,100.000000,53.333333,0.000000,15
1,R_b 2 (Brier),18.533333,14,7,1,93.333333,46.666667,6.666667,15
0,R_b 2 (Logscore),20.800000,8,7,6,53.333333,46.666667,40.000000,15
3,R_b 2 (Zero-one),21.600000,7,7,7,46.666667,46.666667,46.666667,15
4,mahalanobis,78.000000,1,1,1,6.666667,6.666667,6.666667,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 8/15 problems (53.3%)
  - Dominates 100% in 0/15 problems (0.0%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL CENTRAL + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
17,2.0,2,1,beta,none,15,3,9,12,15,19.933333,65,105,61.904762
25,2.0,5,1,beta,none,15,3,9,12,15,20.000000,65,105,61.904762
21,2.0,2,2,beta,none,15,3,9,12,15,20.133333,65,105,61.904762
29,2.0,5,2,beta,none,15,3,9,12,15,20.133333,65,105,61.904762
9,0.5,5,1,beta,none,15,3,8,12,15,20.466667,63,105,60.000000
1,0.5,2,1,beta,none,15,3,8,12,15,20.533333,63,105,60.000000
13,0.5,5,2,beta,none,15,3,9,12,15,20.533333,64,105,60.952381
5,0.5,2,2,beta,none,15,3,9,12,15,20.533333,64,105,60.952381
31,2.0,5,2,exp,none,15,2,7,12,15,21.466667,62,105,59.047619
23,2.0,2,2,exp,none,15,2,7,12,15,21.466667,62,105,59.047619
19,2.0,2,1,exp,none,15,2,7,12,15,21.800000,62,105,59.047619
27,2.0,5,1,exp,none,15,2,8,12,15,21.800000,64,105,60.952381
7,0.5,2,2,exp,none,15,1,3,9,15,28.000000,36,105,34.285714
15,0.5,5,2,exp,none,15,1,3,9,15,28.000000,36,105,34.285714
3,0.5,2,1,exp,none,15,1,3,9,15,28.466667,36,105,34.285714
11,0.5,5,1,exp,none,15,1,3,9,15,28.600000,36,105,34.285714
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,64.466667,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,2,15,64.466667,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,64.466667,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,2,15,64.466667,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,2,15,64.466667,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,2,2,15,64.533333,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,64.533333,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,2,2,15,64.600000,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,2,15,64.666667,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,2,15,64.733333,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,64.733333,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,61.9%,2.0,2,1,none,beta
1,Best Dominance 50%,12/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL CENTRAL + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,14,13,1,93.333333,86.666667,6.666667,15
3,R_b 3 (Zero-one),21.600000,13,6,6,86.666667,40.000000,40.000000,15
0,R_b 3 (Logscore),22.333333,11,7,5,73.333333,46.666667,33.333333,15
2,R_b 3 (Spherical),27.333333,5,2,2,33.333333,13.333333,13.333333,15
4,mahalanobis,78.000000,2,2,1,13.333333,13.333333,6.666667,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 13/15 problems (86.7%)
  - Dominates 100% in 1/15 problems (6.7%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,4,7,12,15,36.733333,62,105,59.047619
21,2.0,2,2,beta,none,15,4,7,12,15,36.733333,62,105,59.047619
5,0.5,2,2,beta,none,15,5,7,11,15,37.000000,66,105,62.857143
13,0.5,5,2,beta,none,15,5,7,11,15,37.000000,66,105,62.857143
27,2.0,5,1,exp,none,15,4,7,11,15,37.133333,59,105,56.190476
17,2.0,2,1,beta,none,15,5,7,12,15,37.333333,68,105,64.761905
25,2.0,5,1,beta,none,15,5,7,12,15,37.333333,68,105,64.761905
19,2.0,2,1,exp,none,15,4,7,11,15,37.333333,59,105,56.190476
9,0.5,5,1,beta,none,15,4,7,11,15,37.800000,59,105,56.190476
1,0.5,2,1,beta,none,15,4,7,11,15,37.800000,59,105,56.190476
23,2.0,2,2,exp,none,15,4,7,10,15,38.600000,56,105,53.333333
31,2.0,5,2,exp,none,15,3,7,10,15,38.600000,49,105,46.666667
3,0.5,2,1,exp,none,15,4,4,8,15,40.666667,50,105,47.619048
11,0.5,5,1,exp,none,15,4,4,8,15,40.733333,50,105,47.619048
7,0.5,2,2,exp,none,15,3,4,8,15,42.800000,40,105,38.095238
15,0.5,5,2,exp,none,15,3,4,8,15,42.866667,40,105,38.095238
28,2.0,5,2,beta,global_scaler,15,0,1,1,15,70.733333,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,1,1,15,70.733333,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,1,1,15,70.733333,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,1,1,15,70.733333,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,1,1,15,70.800000,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,1,1,15,70.800000,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,1,1,15,70.800000,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,1,1,15,70.800000,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,1,1,15,70.800000,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,1,1,15,70.866667,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,1,1,15,71.000000,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,1,1,15,71.000000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,1,1,15,71.000000,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,1,1,15,71.133333,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,1,1,15,71.200000,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,1,1,15,71.266667,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,64.8%,2.0,2,1,none,beta
1,Best Dominance 50%,12/15,2.0,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,15,10,8,100.000000,66.666667,53.333333,15
1,R_b 1 (Brier),29.066667,14,6,6,93.333333,40.000000,40.000000,15
2,R_b 1 (Spherical),29.133333,15,13,1,100.000000,86.666667,6.666667,15
3,mahalanobis,78.000000,1,1,0,6.666667,6.666667,0.000000,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) INNER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,4,7,13,15,22.733333,68,105,64.761905
21,2.0,2,2,beta,none,15,4,7,13,15,22.733333,68,105,64.761905
27,2.0,5,1,exp,none,15,4,8,14,15,23.133333,74,105,70.476190
5,0.5,2,2,beta,none,15,4,7,13,15,23.200000,68,105,64.761905
19,2.0,2,1,exp,none,15,4,8,14,15,23.266667,74,105,70.476190
13,0.5,5,2,beta,none,15,4,7,13,15,23.266667,68,105,64.761905
25,2.0,5,1,beta,none,15,3,6,13,15,23.333333,60,105,57.142857
17,2.0,2,1,beta,none,15,3,6,13,15,23.400000,60,105,57.142857
9,0.5,5,1,beta,none,15,4,6,12,15,23.933333,62,105,59.047619
1,0.5,2,1,beta,none,15,4,6,12,15,23.933333,62,105,59.047619
23,2.0,2,2,exp,none,15,4,7,13,15,24.466667,68,105,64.761905
31,2.0,5,2,exp,none,15,3,6,13,15,24.733333,60,105,57.142857
3,0.5,2,1,exp,none,15,4,6,9,15,28.133333,56,105,53.333333
11,0.5,5,1,exp,none,15,4,6,8,15,28.333333,54,105,51.428571
15,0.5,5,2,exp,none,15,3,4,6,15,30.866667,41,105,39.047619
7,0.5,2,2,exp,none,15,3,4,6,15,30.866667,41,105,39.047619
18,2.0,2,1,exp,global_scaler,15,1,2,2,15,67.133333,14,105,13.333333
26,2.0,5,1,exp,global_scaler,15,1,2,2,15,67.200000,14,105,13.333333
2,0.5,2,1,exp,global_scaler,15,1,2,2,15,67.466667,14,105,13.333333
10,0.5,5,1,exp,global_scaler,15,1,2,2,15,67.466667,14,105,13.333333
20,2.0,2,2,beta,global_scaler,15,1,2,2,15,67.600000,14,105,13.333333
4,0.5,2,2,beta,global_scaler,15,1,2,2,15,67.666667,14,105,13.333333
28,2.0,5,2,beta,global_scaler,15,1,2,2,15,67.666667,14,105,13.333333
12,0.5,5,2,beta,global_scaler,15,1,2,2,15,67.733333,14,105,13.333333
24,2.0,5,1,beta,global_scaler,15,1,1,1,15,68.200000,14,105,13.333333
16,2.0,2,1,beta,global_scaler,15,1,1,1,15,68.200000,14,105,13.333333
0,0.5,2,1,beta,global_scaler,15,1,1,1,15,68.200000,14,105,13.333333
8,0.5,5,1,beta,global_scaler,15,1,1,1,15,68.200000,14,105,13.333333
22,2.0,2,2,exp,global_scaler,15,1,1,1,15,68.266667,14,105,13.333333
6,0.5,2,2,exp,global_scaler,15,1,1,1,15,68.400000,14,105,13.333333
14,0.5,5,2,exp,global_scaler,15,1,1,1,15,68.400000,14,105,13.333333
30,2.0,5,2,exp,global_scaler,15,1,1,1,15,68.400000,14,105,13.333333

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,70.5%,2.0,2,1,none,exp
1,Best Dominance 50%,14/15,2.0,2,1,none,exp

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) INNER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,15,10,5,100.000000,66.666667,33.333333,15
1,R_b 2 (Brier),18.533333,14,12,3,93.333333,80.000000,20.000000,15
0,R_b 2 (Logscore),20.800000,15,7,6,100.000000,46.666667,40.000000,15
3,mahalanobis,78.000000,1,1,1,6.666667,6.666667,6.666667,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 5/15 problems (33.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) CENTRAL + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,5,10,14,15,18.933333,73,105,69.523810
21,2.0,2,2,beta,none,15,5,10,14,15,18.933333,73,105,69.523810
17,2.0,2,1,beta,none,15,5,10,14,15,19.333333,73,105,69.523810
25,2.0,5,1,beta,none,15,5,10,14,15,19.333333,73,105,69.523810
5,0.5,2,2,beta,none,15,5,9,14,15,19.733333,71,105,67.619048
13,0.5,5,2,beta,none,15,5,9,14,15,19.733333,71,105,67.619048
27,2.0,5,1,exp,none,15,4,9,14,15,20.400000,66,105,62.857143
9,0.5,5,1,beta,none,15,4,9,14,15,20.600000,64,105,60.952381
1,0.5,2,1,beta,none,15,4,9,14,15,20.600000,64,105,60.952381
19,2.0,2,1,exp,none,15,2,9,14,15,20.666667,60,105,57.142857
23,2.0,2,2,exp,none,15,4,9,14,15,21.133333,66,105,62.857143
31,2.0,5,2,exp,none,15,3,9,14,15,21.333333,59,105,56.190476
3,0.5,2,1,exp,none,15,1,5,10,15,29.200000,35,105,33.333333
11,0.5,5,1,exp,none,15,1,5,10,15,29.666667,35,105,33.333333
7,0.5,2,2,exp,none,15,1,4,10,15,30.466667,34,105,32.380952
15,0.5,5,2,exp,none,15,1,4,10,15,30.600000,34,105,32.380952
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,66.466667,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,66.600000,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,66.666667,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,66.666667,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,1,2,2,15,66.866667,14,105,13.333333
12,0.5,5,2,beta,global_scaler,15,1,2,2,15,66.933333,14,105,13.333333
4,0.5,2,2,beta,global_scaler,15,1,2,2,15,66.933333,14,105,13.333333
10,0.5,5,1,exp,global_scaler,15,1,2,2,15,67.000000,14,105,13.333333
24,2.0,5,1,beta,global_scaler,15,1,2,2,15,67.066667,14,105,13.333333
16,2.0,2,1,beta,global_scaler,15,1,2,2,15,67.066667,14,105,13.333333
0,0.5,2,1,beta,global_scaler,15,1,2,2,15,67.066667,14,105,13.333333
8,0.5,5,1,beta,global_scaler,15,1,2,2,15,67.066667,14,105,13.333333
22,2.0,2,2,exp,global_scaler,15,1,2,2,15,67.600000,14,105,13.333333
6,0.5,2,2,exp,global_scaler,15,1,2,2,15,67.600000,14,105,13.333333
14,0.5,5,2,exp,global_scaler,15,1,2,2,15,67.666667,14,105,13.333333
30,2.0,5,2,exp,global_scaler,15,1,2,2,15,67.666667,14,105,13.333333

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,69.5%,2.0,2,1,none,beta
1,Best Dominance 50%,14/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) CENTRAL + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,15,13,7,100.000000,86.666667,46.666667,15
0,R_b 3 (Logscore),22.333333,15,10,5,100.000000,66.666667,33.333333,15
2,R_b 3 (Spherical),27.333333,13,5,2,86.666667,33.333333,13.333333,15
3,mahalanobis,78.000000,2,2,1,13.333333,13.333333,6.666667,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 13/15 problems (86.7%)
  - Dominates 100% in 7/15 problems (46.7%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL OUTER + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,1,5,7,15,39.666667,30,105,28.571429
21,2.0,2,2,beta,none,15,1,5,7,15,39.666667,30,105,28.571429
5,0.5,2,2,beta,none,15,0,5,7,15,39.866667,20,105,19.047619
13,0.5,5,2,beta,none,15,0,5,7,15,39.866667,20,105,19.047619
17,2.0,2,1,beta,none,15,0,5,7,15,40.000000,20,105,19.047619
23,2.0,2,2,exp,none,15,1,5,7,15,40.000000,30,105,28.571429
31,2.0,5,2,exp,none,15,1,5,7,15,40.000000,30,105,28.571429
27,2.0,5,1,exp,none,15,1,5,7,15,40.000000,30,105,28.571429
19,2.0,2,1,exp,none,15,1,5,7,15,40.000000,30,105,28.571429
25,2.0,5,1,beta,none,15,0,5,7,15,40.000000,20,105,19.047619
9,0.5,5,1,beta,none,15,0,5,7,15,40.200000,20,105,19.047619
1,0.5,2,1,beta,none,15,0,5,7,15,40.200000,20,105,19.047619
7,0.5,2,2,exp,none,15,1,4,6,15,40.733333,20,105,19.047619
15,0.5,5,2,exp,none,15,1,4,6,15,40.733333,20,105,19.047619
11,0.5,5,1,exp,none,15,1,4,6,15,41.000000,20,105,19.047619
3,0.5,2,1,exp,none,15,1,4,6,15,41.066667,20,105,19.047619
30,2.0,5,2,exp,global_scaler,15,0,0,0,15,68.200000,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,0,0,15,68.333333,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,0,15,68.533333,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,0,0,15,69.533333,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,0,15,69.933333,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,0,15,70.066667,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,0,15,70.066667,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,0,15,70.200000,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,0,15,70.200000,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,0,15,70.266667,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,0,15,70.333333,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,0,15,70.333333,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,0,15,70.333333,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,28.6%,2.0,2,1,none,exp
1,Best Dominance 50%,7/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL OUTER + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,11,10,8,73.333333,66.666667,53.333333,15
1,R_b 1 (Brier),29.066667,13,6,4,86.666667,40.000000,26.666667,15
2,R_b 1 (Spherical),29.133333,15,10,1,100.000000,66.666667,6.666667,15
3,R_b 1 (Zero-one),32.000000,6,4,2,40.000000,26.666667,13.333333,15
4,gmm,75.533333,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL INNER + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,0,5,5,15,28.333333,25,105,23.809524
21,2.0,2,2,beta,none,15,0,5,5,15,28.333333,25,105,23.809524
19,2.0,2,1,exp,none,15,0,6,6,15,28.466667,30,105,28.571429
23,2.0,2,2,exp,none,15,0,6,6,15,28.533333,30,105,28.571429
31,2.0,5,2,exp,none,15,0,5,5,15,28.666667,25,105,23.809524
27,2.0,5,1,exp,none,15,0,5,5,15,28.666667,25,105,23.809524
17,2.0,2,1,beta,none,15,0,5,5,15,28.800000,25,105,23.809524
25,2.0,5,1,beta,none,15,0,5,5,15,28.800000,25,105,23.809524
5,0.5,2,2,beta,none,15,0,5,5,15,29.066667,25,105,23.809524
13,0.5,5,2,beta,none,15,0,4,4,15,29.333333,20,105,19.047619
9,0.5,5,1,beta,none,15,0,4,4,15,29.933333,20,105,19.047619
1,0.5,2,1,beta,none,15,0,4,4,15,29.933333,20,105,19.047619
3,0.5,2,1,exp,none,15,0,4,4,15,31.333333,20,105,19.047619
11,0.5,5,1,exp,none,15,0,4,4,15,31.333333,16,105,15.238095
15,0.5,5,2,exp,none,15,0,3,3,15,31.666667,12,105,11.428571
7,0.5,2,2,exp,none,15,0,3,3,15,31.800000,12,105,11.428571
14,0.5,5,2,exp,global_scaler,15,0,0,0,15,65.333333,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,0,0,15,65.400000,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,0,15,65.400000,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,0,0,15,65.466667,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,0,0,15,65.466667,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,0,15,65.600000,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,0,15,65.933333,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,0,15,65.933333,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,0,15,65.933333,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,0,15,65.933333,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,0,15,66.000000,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,0,15,66.200000,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,0,15,66.333333,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,0,15,66.333333,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,0,15,66.333333,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,0,15,66.333333,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,28.6%,2.0,2,1,none,exp
1,Best Dominance 50%,6/15,2.0,2,1,none,exp

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL INNER + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,15,9,0,100.000000,60.000000,0.000000,15
1,R_b 2 (Brier),18.533333,15,7,1,100.000000,46.666667,6.666667,15
0,R_b 2 (Logscore),20.800000,8,7,7,53.333333,46.666667,46.666667,15
3,R_b 2 (Zero-one),21.600000,7,7,7,46.666667,46.666667,46.666667,15
4,gmm,75.533333,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 9/15 problems (60.0%)
  - Dominates 100% in 0/15 problems (0.0%)

============================================================
RESULTS FOR: COMPOSITE BAYES ALL CENTRAL + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
21,2.0,2,2,beta,none,15,1,6,10,15,28.533333,37,105,35.238095
29,2.0,5,2,beta,none,15,1,6,10,15,28.600000,37,105,35.238095
17,2.0,2,1,beta,none,15,1,6,10,15,29.066667,37,105,35.238095
25,2.0,5,1,beta,none,15,1,6,10,15,29.133333,37,105,35.238095
19,2.0,2,1,exp,none,15,1,6,10,15,29.266667,37,105,35.238095
31,2.0,5,2,exp,none,15,1,5,9,15,29.400000,32,105,30.476190
5,0.5,2,2,beta,none,15,1,5,9,15,29.666667,33,105,31.428571
13,0.5,5,2,beta,none,15,1,5,9,15,29.666667,33,105,31.428571
23,2.0,2,2,exp,none,15,1,4,9,15,29.733333,29,105,27.619048
27,2.0,5,1,exp,none,15,1,5,10,15,29.800000,34,105,32.380952
9,0.5,5,1,beta,none,15,1,3,9,15,30.866667,26,105,24.761905
1,0.5,2,1,beta,none,15,1,3,9,15,30.866667,26,105,24.761905
11,0.5,5,1,exp,none,15,1,1,7,15,34.600000,14,105,13.333333
3,0.5,2,1,exp,none,15,1,1,8,15,34.733333,15,105,14.285714
15,0.5,5,2,exp,none,15,0,0,7,15,35.333333,0,105,0.000000
7,0.5,2,2,exp,none,15,0,0,7,15,35.400000,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,0,1,15,64.733333,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,0,1,15,64.933333,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,1,15,64.933333,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,0,1,15,65.133333,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,1,15,65.133333,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,0,1,15,65.200000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,0,15,65.666667,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,0,15,65.666667,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,0,15,65.733333,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,0,15,65.733333,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,0,15,65.800000,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,0,15,65.933333,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,0,15,66.533333,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,0,15,66.533333,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,0,15,66.533333,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,0,15,66.600000,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,35.2%,2.0,2,1,none,beta
1,Best Dominance 50%,10/15,2.0,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES ALL CENTRAL + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,14,14,1,93.333333,93.333333,6.666667,15
3,R_b 3 (Zero-one),21.600000,15,6,6,100.000000,40.000000,40.000000,15
0,R_b 3 (Logscore),22.333333,11,8,6,73.333333,53.333333,40.000000,15
2,R_b 3 (Spherical),27.333333,5,2,2,33.333333,13.333333,13.333333,15
4,gmm,75.533333,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 1/15 problems (6.7%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) OUTER + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
27,2.0,5,1,exp,none,15,1,6,12,15,39.933333,34,105,32.380952
19,2.0,2,1,exp,none,15,1,6,12,15,39.933333,34,105,32.380952
29,2.0,5,2,beta,none,15,1,5,12,15,40.133333,30,105,28.571429
21,2.0,2,2,beta,none,15,1,5,12,15,40.200000,30,105,28.571429
5,0.5,2,2,beta,none,15,1,5,12,15,40.333333,30,105,28.571429
13,0.5,5,2,beta,none,15,1,5,12,15,40.333333,30,105,28.571429
25,2.0,5,1,beta,none,15,1,5,12,15,40.733333,30,105,28.571429
17,2.0,2,1,beta,none,15,1,5,12,15,40.733333,30,105,28.571429
9,0.5,5,1,beta,none,15,1,5,11,15,40.933333,26,105,24.761905
1,0.5,2,1,beta,none,15,1,5,11,15,40.933333,26,105,24.761905
23,2.0,2,2,exp,none,15,1,6,11,15,41.000000,29,105,27.619048
31,2.0,5,2,exp,none,15,1,6,11,15,41.133333,29,105,27.619048
3,0.5,2,1,exp,none,15,1,4,7,15,42.066667,14,105,13.333333
11,0.5,5,1,exp,none,15,1,4,7,15,42.066667,14,105,13.333333
15,0.5,5,2,exp,none,15,1,3,6,15,43.666667,14,105,13.333333
7,0.5,2,2,exp,none,15,1,3,6,15,43.666667,14,105,13.333333
26,2.0,5,1,exp,global_scaler,15,0,0,0,15,70.866667,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,0,15,71.400000,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,0,0,15,71.466667,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,0,15,71.733333,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,0,15,72.066667,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,0,15,72.066667,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,0,15,72.133333,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,0,15,72.133333,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,0,0,15,72.133333,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,0,0,15,72.266667,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,0,15,72.266667,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,0,15,72.400000,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,0,15,72.466667,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,0,15,72.466667,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,0,15,72.533333,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,0,15,72.533333,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,32.4%,2.0,2,1,none,exp
1,Best Dominance 50%,12/15,0.5,2,2,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) OUTER + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_b 1 (Logscore),26.866667,15,10,8,100.0,66.666667,53.333333,15
1,R_b 1 (Brier),29.066667,15,6,6,100.0,40.000000,40.000000,15
2,R_b 1 (Spherical),29.133333,15,14,1,100.0,93.333333,6.666667,15
3,gmm,75.533333,0,0,0,0.0,0.000000,0.000000,15

Best Individual Component: R_b 1 (Logscore)
  - Average Rank: 26.87
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) INNER + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
27,2.0,5,1,exp,none,15,0,6,11,15,28.400000,30,105,28.571429
19,2.0,2,1,exp,none,15,0,6,11,15,28.466667,30,105,28.571429
29,2.0,5,2,beta,none,15,0,6,10,15,29.266667,24,105,22.857143
21,2.0,2,2,beta,none,15,0,6,10,15,29.333333,24,105,22.857143
13,0.5,5,2,beta,none,15,0,5,9,15,30.066667,20,105,19.047619
5,0.5,2,2,beta,none,15,0,5,9,15,30.133333,20,105,19.047619
25,2.0,5,1,beta,none,15,0,6,10,15,30.133333,24,105,22.857143
17,2.0,2,1,beta,none,15,0,6,10,15,30.133333,24,105,22.857143
31,2.0,5,2,exp,none,15,0,6,10,15,30.866667,24,105,22.857143
23,2.0,2,2,exp,none,15,0,6,10,15,30.933333,24,105,22.857143
9,0.5,5,1,beta,none,15,0,5,9,15,31.200000,20,105,19.047619
1,0.5,2,1,beta,none,15,0,5,9,15,31.266667,20,105,19.047619
3,0.5,2,1,exp,none,15,0,5,8,15,32.266667,15,105,14.285714
11,0.5,5,1,exp,none,15,0,4,7,15,32.600000,12,105,11.428571
15,0.5,5,2,exp,none,15,0,4,6,15,35.533333,8,105,7.619048
7,0.5,2,2,exp,none,15,0,4,6,15,35.600000,8,105,7.619048
2,0.5,2,1,exp,global_scaler,15,0,0,0,15,67.400000,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,0,15,67.466667,0,105,0.000000
26,2.0,5,1,exp,global_scaler,15,0,0,0,15,67.600000,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,0,15,67.666667,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,0,15,68.866667,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,0,15,68.866667,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,0,15,68.866667,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,0,15,68.933333,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,0,0,15,69.266667,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,0,15,69.400000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,0,15,69.533333,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,28.6%,2.0,2,1,none,exp
1,Best Dominance 50%,11/15,2.0,2,1,none,exp

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) INNER + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_b 2 (Spherical),18.466667,15,11,5,100.0,73.333333,33.333333,15
1,R_b 2 (Brier),18.533333,15,12,3,100.0,80.000000,20.000000,15
0,R_b 2 (Logscore),20.800000,15,7,7,100.0,46.666667,46.666667,15
3,gmm,75.533333,0,0,0,0.0,0.000000,0.000000,15

Best Individual Component: R_b 2 (Spherical)
  - Average Rank: 18.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 5/15 problems (33.3%)

============================================================
RESULTS FOR: COMPOSITE BAYES (LBS) CENTRAL + GMM
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
27,2.0,5,1,exp,none,15,1,6,13,15,28.533333,35,105,33.333333
19,2.0,2,1,exp,none,15,1,6,13,15,29.133333,35,105,33.333333
21,2.0,2,2,beta,none,15,1,6,14,15,29.466667,35,105,33.333333
29,2.0,5,2,beta,none,15,1,6,14,15,29.466667,35,105,33.333333
5,0.5,2,2,beta,none,15,1,5,13,15,30.466667,30,105,28.571429
13,0.5,5,2,beta,none,15,1,5,13,15,30.466667,30,105,28.571429
25,2.0,5,1,beta,none,15,1,5,13,15,31.066667,30,105,28.571429
17,2.0,2,1,beta,none,15,1,5,13,15,31.066667,30,105,28.571429
23,2.0,2,2,exp,none,15,1,6,13,15,31.733333,35,105,33.333333
31,2.0,5,2,exp,none,15,1,6,13,15,31.866667,35,105,33.333333
1,0.5,2,1,beta,none,15,1,5,13,15,32.466667,30,105,28.571429
9,0.5,5,1,beta,none,15,1,5,13,15,32.533333,30,105,28.571429
11,0.5,5,1,exp,none,15,0,1,11,15,35.866667,2,105,1.904762
3,0.5,2,1,exp,none,15,0,1,11,15,35.933333,2,105,1.904762
15,0.5,5,2,exp,none,15,1,1,9,15,37.266667,14,105,13.333333
7,0.5,2,2,exp,none,15,0,1,9,15,37.466667,1,105,0.952381
26,2.0,5,1,exp,global_scaler,15,0,0,2,15,67.266667,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,0,1,15,67.466667,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,0,1,15,67.533333,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,0,1,15,67.533333,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,0,1,15,68.666667,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,0,1,15,68.666667,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,0,1,15,68.666667,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,0,1,15,68.666667,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,0,1,15,69.266667,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,0,1,15,69.466667,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,0,1,15,69.466667,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,0,1,15,69.466667,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,0,1,15,69.466667,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,0,1,15,69.533333,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,0,1,15,69.533333,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,0,1,15,69.800000,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,33.3%,2.0,2,1,none,exp
1,Best Dominance 50%,14/15,2.0,2,2,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE BAYES (LBS) CENTRAL + GMM
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_b 3 (Brier),18.533333,15,14,7,100.0,93.333333,46.666667,15
0,R_b 3 (Logscore),22.333333,15,11,6,100.0,73.333333,40.000000,15
2,R_b 3 (Spherical),27.333333,15,5,2,100.0,33.333333,13.333333,15
3,gmm,75.533333,0,0,0,0.0,0.000000,0.000000,15

Best Individual Component: R_b 3 (Brier)
  - Average Rank: 18.53
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 7/15 problems (46.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
2,0.5,2,1,exp,global_scaler,15,0,8,15,15,45.800000,21,105,20.000000
10,0.5,5,1,exp,global_scaler,15,0,8,15,15,45.933333,21,105,20.000000
18,2.0,2,1,exp,global_scaler,15,0,8,15,15,45.933333,21,105,20.000000
26,2.0,5,1,exp,global_scaler,15,0,8,15,15,46.200000,21,105,20.000000
14,0.5,5,2,exp,global_scaler,15,0,8,15,15,46.266667,21,105,20.000000
22,2.0,2,2,exp,global_scaler,15,0,8,15,15,46.333333,21,105,20.000000
6,0.5,2,2,exp,global_scaler,15,0,8,15,15,46.400000,21,105,20.000000
30,2.0,5,2,exp,global_scaler,15,0,8,15,15,46.666667,21,105,20.000000
24,2.0,5,1,beta,global_scaler,15,0,8,15,15,46.866667,21,105,20.000000
16,2.0,2,1,beta,global_scaler,15,0,8,15,15,46.866667,21,105,20.000000
20,2.0,2,2,beta,global_scaler,15,0,8,15,15,47.000000,21,105,20.000000
28,2.0,5,2,beta,global_scaler,15,0,8,15,15,47.000000,21,105,20.000000
0,0.5,2,1,beta,global_scaler,15,0,8,15,15,47.066667,21,105,20.000000
8,0.5,5,1,beta,global_scaler,15,0,8,15,15,47.066667,21,105,20.000000
12,0.5,5,2,beta,global_scaler,15,0,8,15,15,47.266667,21,105,20.000000
4,0.5,2,2,beta,global_scaler,15,0,8,15,15,47.266667,21,105,20.000000
3,0.5,2,1,exp,none,15,0,3,15,15,57.200000,6,105,5.714286
11,0.5,5,1,exp,none,15,0,3,15,15,57.266667,6,105,5.714286
15,0.5,5,2,exp,none,15,0,2,15,15,57.866667,3,105,2.857143
7,0.5,2,2,exp,none,15,0,2,15,15,57.933333,3,105,2.857143
27,2.0,5,1,exp,none,15,0,2,15,15,59.733333,3,105,2.857143
31,2.0,5,2,exp,none,15,0,2,15,15,59.800000,3,105,2.857143
19,2.0,2,1,exp,none,15,0,2,15,15,59.800000,3,105,2.857143
23,2.0,2,2,exp,none,15,0,2,15,15,59.800000,3,105,2.857143
1,0.5,2,1,beta,none,15,0,2,15,15,60.200000,3,105,2.857143
9,0.5,5,1,beta,none,15,0,2,15,15,60.200000,3,105,2.857143
5,0.5,2,2,beta,none,15,0,2,15,15,60.266667,3,105,2.857143
13,0.5,5,2,beta,none,15,0,2,15,15,60.333333,3,105,2.857143
25,2.0,5,1,beta,none,15,0,3,15,15,60.333333,4,105,3.809524
17,2.0,2,1,beta,none,15,0,3,15,15,60.333333,4,105,3.809524
21,2.0,2,2,beta,none,15,0,2,15,15,60.400000,3,105,2.857143
29,2.0,5,2,beta,none,15,0,2,15,15,60.400000,3,105,2.857143

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,20.0%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 1 (Logscore),41.200000,15,13,10,100.000000,86.666667,66.666667,15
2,R_e 1 1 (Spherical),46.533333,15,15,5,100.000000,100.000000,33.333333,15
1,R_e 1 1 (Brier),60.533333,8,2,0,53.333333,13.333333,0.000000,15
3,R_e 1 1 (Zero-one),70.800000,7,0,0,46.666667,0.000000,0.000000,15

Best Individual Component: R_e 1 1 (Logscore)
  - Average Rank: 41.20
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 13/15 problems (86.7%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
2,0.5,2,1,exp,global_scaler,15,2,11,15,15,39.266667,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,11,15,15,39.266667,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,11,15,15,40.066667,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,11,15,15,40.133333,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,11,15,15,40.466667,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,11,15,15,40.466667,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,11,15,15,40.533333,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,11,15,15,41.533333,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,11,15,15,41.666667,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,11,15,15,41.733333,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,11,15,15,41.800000,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,10,15,15,42.000000,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,10,15,15,42.066667,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,10,15,15,42.066667,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,10,15,15,42.133333,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,10,15,15,42.133333,27,105,25.714286
3,0.5,2,1,exp,none,15,2,10,15,15,49.200000,27,105,25.714286
15,0.5,5,2,exp,none,15,2,10,15,15,49.333333,27,105,25.714286
7,0.5,2,2,exp,none,15,2,10,15,15,49.333333,27,105,25.714286
11,0.5,5,1,exp,none,15,2,10,15,15,49.400000,27,105,25.714286
19,2.0,2,1,exp,none,15,2,9,15,15,50.533333,27,105,25.714286
27,2.0,5,1,exp,none,15,2,9,15,15,50.600000,27,105,25.714286
31,2.0,5,2,exp,none,15,2,9,15,15,50.666667,27,105,25.714286
23,2.0,2,2,exp,none,15,2,9,15,15,50.866667,27,105,25.714286
1,0.5,2,1,beta,none,15,2,7,15,15,51.333333,27,105,25.714286
9,0.5,5,1,beta,none,15,2,7,15,15,51.333333,27,105,25.714286
13,0.5,5,2,beta,none,15,2,7,15,15,51.400000,27,105,25.714286
5,0.5,2,2,beta,none,15,2,7,15,15,51.400000,27,105,25.714286
21,2.0,2,2,beta,none,15,2,7,15,15,51.400000,27,105,25.714286
17,2.0,2,1,beta,none,15,2,7,15,15,51.400000,27,105,25.714286
25,2.0,5,1,beta,none,15,2,7,15,15,51.400000,27,105,25.714286
29,2.0,5,2,beta,none,15,2,7,15,15,51.400000,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,25.7%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 2 (Logscore),35.466667,15,14,11,100.000000,93.333333,73.333333,15
2,R_e 1 2 (Spherical),49.266667,15,13,2,100.000000,86.666667,13.333333,15
1,R_e 1 2 (Brier),61.000000,7,3,2,46.666667,20.000000,13.333333,15
3,R_e 1 2 (Zero-one),68.000000,8,0,0,53.333333,0.000000,0.000000,15

Best Individual Component: R_e 1 2 (Logscore)
  - Average Rank: 35.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
18,2.0,2,1,exp,global_scaler,15,0,12,15,15,51.266667,53,105,50.476190
16,2.0,2,1,beta,global_scaler,15,1,12,15,15,51.400000,61,105,58.095238
24,2.0,5,1,beta,global_scaler,15,1,12,15,15,51.400000,61,105,58.095238
0,0.5,2,1,beta,global_scaler,15,1,12,15,15,51.466667,61,105,58.095238
20,2.0,2,2,beta,global_scaler,15,1,12,15,15,51.466667,61,105,58.095238
8,0.5,5,1,beta,global_scaler,15,1,12,15,15,51.466667,61,105,58.095238
30,2.0,5,2,exp,global_scaler,15,1,12,15,15,51.466667,61,105,58.095238
28,2.0,5,2,beta,global_scaler,15,1,12,15,15,51.466667,61,105,58.095238
26,2.0,5,1,exp,global_scaler,15,0,12,15,15,51.466667,53,105,50.476190
22,2.0,2,2,exp,global_scaler,15,0,12,15,15,51.600000,53,105,50.476190
12,0.5,5,2,beta,global_scaler,15,1,12,15,15,51.866667,61,105,58.095238
4,0.5,2,2,beta,global_scaler,15,1,12,15,15,51.866667,61,105,58.095238
2,0.5,2,1,exp,global_scaler,15,0,12,15,15,52.200000,53,105,50.476190
14,0.5,5,2,exp,global_scaler,15,0,12,15,15,52.266667,53,105,50.476190
6,0.5,2,2,exp,global_scaler,15,0,12,15,15,52.333333,53,105,50.476190
10,0.5,5,1,exp,global_scaler,15,0,11,15,15,52.400000,52,105,49.523810
7,0.5,2,2,exp,none,15,0,9,15,15,60.200000,29,105,27.619048
15,0.5,5,2,exp,none,15,0,9,15,15,60.200000,29,105,27.619048
9,0.5,5,1,beta,none,15,1,9,15,15,60.533333,40,105,38.095238
1,0.5,2,1,beta,none,15,1,9,15,15,60.533333,40,105,38.095238
17,2.0,2,1,beta,none,15,1,9,15,15,60.800000,40,105,38.095238
25,2.0,5,1,beta,none,15,1,9,15,15,60.866667,40,105,38.095238
3,0.5,2,1,exp,none,15,0,9,15,15,60.866667,29,105,27.619048
31,2.0,5,2,exp,none,15,1,9,15,15,60.933333,40,105,38.095238
11,0.5,5,1,exp,none,15,0,9,15,15,61.000000,29,105,27.619048
5,0.5,2,2,beta,none,15,1,9,15,15,61.133333,40,105,38.095238
13,0.5,5,2,beta,none,15,1,9,15,15,61.133333,40,105,38.095238
23,2.0,2,2,exp,none,15,1,9,15,15,61.133333,40,105,38.095238
27,2.0,5,1,exp,none,15,1,9,15,15,61.266667,40,105,38.095238
21,2.0,2,2,beta,none,15,1,9,15,15,61.266667,40,105,38.095238
29,2.0,5,2,beta,none,15,1,9,15,15,61.266667,40,105,38.095238
19,2.0,2,1,exp,none,15,1,9,15,15,61.333333,40,105,38.095238

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,58.1%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 3 (Logscore),49.266667,15,10,6,100.000000,66.666667,40.000000,15
2,R_e 1 3 (Spherical),51.266667,15,15,8,100.000000,100.000000,53.333333,15
1,R_e 1 3 (Brier),61.000000,7,3,1,46.666667,20.000000,6.666667,15
3,R_e 1 3 (Zero-one),68.000000,8,2,0,53.333333,13.333333,0.000000,15

Best Individual Component: R_e 1 3 (Logscore)
  - Average Rank: 49.27
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 6/15 problems (40.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
10,0.5,5,1,exp,global_scaler,15,2,10,15,15,50.933333,50,105,47.619048
18,2.0,2,1,exp,global_scaler,15,2,10,15,15,51.066667,50,105,47.619048
2,0.5,2,1,exp,global_scaler,15,2,9,15,15,51.133333,48,105,45.714286
26,2.0,5,1,exp,global_scaler,15,2,9,15,15,51.266667,48,105,45.714286
14,0.5,5,2,exp,global_scaler,15,2,9,15,15,51.800000,48,105,45.714286
22,2.0,2,2,exp,global_scaler,15,2,9,15,15,51.800000,48,105,45.714286
6,0.5,2,2,exp,global_scaler,15,2,9,15,15,51.933333,48,105,45.714286
4,0.5,2,2,beta,global_scaler,15,2,9,15,15,52.066667,48,105,45.714286
20,2.0,2,2,beta,global_scaler,15,2,9,15,15,52.066667,48,105,45.714286
12,0.5,5,2,beta,global_scaler,15,2,9,15,15,52.066667,48,105,45.714286
30,2.0,5,2,exp,global_scaler,15,2,9,15,15,52.133333,48,105,45.714286
28,2.0,5,2,beta,global_scaler,15,2,9,15,15,52.200000,48,105,45.714286
16,2.0,2,1,beta,global_scaler,15,1,9,15,15,52.200000,38,105,36.190476
24,2.0,5,1,beta,global_scaler,15,1,9,15,15,52.200000,38,105,36.190476
8,0.5,5,1,beta,global_scaler,15,1,9,15,15,52.266667,38,105,36.190476
0,0.5,2,1,beta,global_scaler,15,1,9,15,15,52.266667,38,105,36.190476
3,0.5,2,1,exp,none,15,0,4,14,15,68.800000,15,105,14.285714
11,0.5,5,1,exp,none,15,0,4,14,15,68.866667,15,105,14.285714
15,0.5,5,2,exp,none,15,0,4,14,15,69.666667,15,105,14.285714
7,0.5,2,2,exp,none,15,0,4,14,15,69.666667,15,105,14.285714
19,2.0,2,1,exp,none,15,0,4,15,15,69.733333,16,105,15.238095
27,2.0,5,1,exp,none,15,0,4,15,15,69.933333,16,105,15.238095
23,2.0,2,2,exp,none,15,0,4,15,15,70.666667,16,105,15.238095
5,0.5,2,2,beta,none,15,0,4,15,15,70.800000,16,105,15.238095
13,0.5,5,2,beta,none,15,0,4,15,15,70.800000,16,105,15.238095
9,0.5,5,1,beta,none,15,0,4,15,15,70.800000,16,105,15.238095
1,0.5,2,1,beta,none,15,0,4,15,15,70.800000,16,105,15.238095
21,2.0,2,2,beta,none,15,0,4,15,15,70.866667,16,105,15.238095
31,2.0,5,2,exp,none,15,0,4,14,15,70.866667,15,105,14.285714
29,2.0,5,2,beta,none,15,0,4,15,15,70.866667,16,105,15.238095
17,2.0,2,1,beta,none,15,0,4,15,15,71.000000,16,105,15.238095
25,2.0,5,1,beta,none,15,0,4,15,15,71.000000,16,105,15.238095

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,47.6%,0.5,5,1,global_scaler,exp
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 2 1 (Logscore),46.733333,15,14,10,100.0,93.333333,66.666667,15
2,R_e 2 1 (Spherical),56.800000,15,12,3,100.0,80.000000,20.000000,15
1,R_e 2 1 (Brier),60.466667,12,4,2,80.0,26.666667,13.333333,15
3,R_e 2 1 (Zero-one),74.400000,3,0,0,20.0,0.000000,0.000000,15

Best Individual Component: R_e 2 1 (Logscore)
  - Average Rank: 46.73
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
1,0.5,2,1,exp,none,15,0,0,0,0,91.6,105,105,100.000000
2,0.5,2,2,beta,none,15,3,3,3,3,91.6,105,105,100.000000
4,0.5,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
7,0.5,5,2,exp,none,15,0,0,0,0,91.6,105,105,100.000000
6,0.5,5,2,beta,none,15,3,3,3,3,91.6,105,105,100.000000
9,2.0,2,1,exp,none,15,3,3,3,3,91.6,105,105,100.000000
8,2.0,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
12,2.0,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
13,2.0,5,1,exp,none,15,3,3,3,3,91.6,105,105,100.000000
10,2.0,2,2,beta,none,15,0,0,0,0,91.6,105,105,100.000000
11,2.0,2,2,exp,none,15,3,3,3,3,91.6,105,105,100.000000
14,2.0,5,2,beta,none,15,0,0,0,0,91.6,105,105,100.000000
15,2.0,5,2,exp,none,15,3,3,3,3,91.6,105,105,100.000000
5,0.5,5,1,exp,none,15,0,0,0,0,91.8,66,105,62.857143
3,0.5,2,2,exp,none,15,0,0,0,0,91.8,66,105,62.857143

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,100.0%,0.5,2,1,none,beta
1,Best Dominance 50%,3/15,0.5,2,2,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER INNER
----------------------------------------
Note: Composite measure 'composite excess all inner inner' not found in DataFrame columns
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 2 2 (Logscore),87.466667,15,15,15,100.0,100.0,100.0,15
1,R_e 2 2 (Brier),87.466667,15,15,0,100.0,100.0,0.0,15
2,R_e 2 2 (Spherical),87.466667,15,0,0,100.0,0.0,0.0,15
3,R_e 2 2 (Zero-one),87.466667,0,0,0,0.0,0.0,0.0,15

Best Individual Component: R_e 2 2 (Logscore)
  - Average Rank: 87.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 15/15 problems (100.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
6,0.5,2,2,exp,global_scaler,15,3,15,15,15,70.266667,50,105,47.619048
4,0.5,2,2,beta,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
12,0.5,5,2,beta,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
14,0.5,5,2,exp,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
30,2.0,5,2,exp,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
28,2.0,5,2,beta,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
20,2.0,2,2,beta,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
22,2.0,2,2,exp,global_scaler,15,3,15,15,15,70.333333,50,105,47.619048
0,0.5,2,1,beta,global_scaler,15,3,15,15,15,71.066667,50,105,47.619048
16,2.0,2,1,beta,global_scaler,15,3,15,15,15,71.066667,50,105,47.619048
24,2.0,5,1,beta,global_scaler,15,3,15,15,15,71.066667,50,105,47.619048
8,0.5,5,1,beta,global_scaler,15,3,15,15,15,71.133333,50,105,47.619048
18,2.0,2,1,exp,global_scaler,15,3,15,15,15,71.333333,50,105,47.619048
2,0.5,2,1,exp,global_scaler,15,3,15,15,15,71.400000,50,105,47.619048
10,0.5,5,1,exp,global_scaler,15,3,15,15,15,71.466667,50,105,47.619048
26,2.0,5,1,exp,global_scaler,15,3,15,15,15,71.533333,50,105,47.619048
29,2.0,5,2,beta,none,15,6,15,15,15,79.266667,77,105,73.333333
21,2.0,2,2,beta,none,15,6,15,15,15,79.266667,77,105,73.333333
5,0.5,2,2,beta,none,15,6,15,15,15,79.533333,77,105,73.333333
13,0.5,5,2,beta,none,15,6,15,15,15,79.533333,77,105,73.333333
23,2.0,2,2,exp,none,15,6,15,15,15,79.600000,77,105,73.333333
31,2.0,5,2,exp,none,15,6,15,15,15,79.666667,77,105,73.333333
15,0.5,5,2,exp,none,15,5,15,15,15,79.933333,69,105,65.714286
7,0.5,2,2,exp,none,15,5,15,15,15,79.933333,69,105,65.714286
25,2.0,5,1,beta,none,15,6,15,15,15,80.133333,77,105,73.333333
17,2.0,2,1,beta,none,15,6,15,15,15,80.133333,77,105,73.333333
1,0.5,2,1,beta,none,15,6,15,15,15,80.266667,77,105,73.333333
9,0.5,5,1,beta,none,15,6,15,15,15,80.266667,77,105,73.333333
27,2.0,5,1,exp,none,15,6,15,15,15,80.466667,77,105,73.333333
19,2.0,2,1,exp,none,15,6,15,15,15,80.533333,77,105,73.333333
11,0.5,5,1,exp,none,15,5,15,15,15,80.800000,69,105,65.714286
3,0.5,2,1,exp,none,15,5,15,15,15,80.800000,69,105,65.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,73.3%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 2 3 (Spherical),67.333333,15,15,11,100.0,100.0,73.333333,15
0,R_e 2 3 (Logscore),74.000000,15,15,4,100.0,100.0,26.666667,15
1,R_e 2 3 (Brier),87.466667,15,0,0,100.0,0.0,0.000000,15
3,R_e 2 3 (Zero-one),87.466667,0,0,0,0.0,0.0,0.000000,15

Best Individual Component: R_e 2 3 (Spherical)
  - Average Rank: 67.33
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
18,2.0,2,1,exp,global_scaler,15,0,7,15,15,41.066667,0,105,0.0
10,0.5,5,1,exp,global_scaler,15,0,7,15,15,41.600000,0,105,0.0
26,2.0,5,1,exp,global_scaler,15,0,7,15,15,41.933333,0,105,0.0
2,0.5,2,1,exp,global_scaler,15,0,7,15,15,42.000000,0,105,0.0
22,2.0,2,2,exp,global_scaler,15,0,7,15,15,42.266667,0,105,0.0
20,2.0,2,2,beta,global_scaler,15,0,6,15,15,42.400000,0,105,0.0
12,0.5,5,2,beta,global_scaler,15,0,6,15,15,42.466667,0,105,0.0
4,0.5,2,2,beta,global_scaler,15,0,6,15,15,42.466667,0,105,0.0
28,2.0,5,2,beta,global_scaler,15,0,6,15,15,42.466667,0,105,0.0
14,0.5,5,2,exp,global_scaler,15,0,7,15,15,42.866667,0,105,0.0
16,2.0,2,1,beta,global_scaler,15,0,6,15,15,42.866667,0,105,0.0
24,2.0,5,1,beta,global_scaler,15,0,6,15,15,42.933333,0,105,0.0
0,0.5,2,1,beta,global_scaler,15,0,6,15,15,42.933333,0,105,0.0
8,0.5,5,1,beta,global_scaler,15,0,6,15,15,42.933333,0,105,0.0
6,0.5,2,2,exp,global_scaler,15,0,7,15,15,43.000000,0,105,0.0
30,2.0,5,2,exp,global_scaler,15,0,7,15,15,43.200000,0,105,0.0
19,2.0,2,1,exp,none,15,0,3,14,15,58.266667,0,105,0.0
11,0.5,5,1,exp,none,15,0,2,14,15,58.400000,0,105,0.0
3,0.5,2,1,exp,none,15,0,2,14,15,58.600000,0,105,0.0
27,2.0,5,1,exp,none,15,0,2,14,15,58.733333,0,105,0.0
21,2.0,2,2,beta,none,15,0,2,14,15,60.466667,0,105,0.0
29,2.0,5,2,beta,none,15,0,2,14,15,60.466667,0,105,0.0
23,2.0,2,2,exp,none,15,0,2,14,15,60.800000,0,105,0.0
5,0.5,2,2,beta,none,15,0,2,14,15,61.200000,0,105,0.0
13,0.5,5,2,beta,none,15,0,2,14,15,61.200000,0,105,0.0
31,2.0,5,2,exp,none,15,0,2,14,15,61.466667,0,105,0.0
7,0.5,2,2,exp,none,15,0,2,14,15,61.733333,0,105,0.0
15,0.5,5,2,exp,none,15,0,2,14,15,61.733333,0,105,0.0
17,2.0,2,1,beta,none,15,0,2,14,15,62.066667,0,105,0.0
25,2.0,5,1,beta,none,15,0,2,14,15,62.066667,0,105,0.0
9,0.5,5,1,beta,none,15,0,2,14,15,62.333333,0,105,0.0
1,0.5,2,1,beta,none,15,0,2,14,15,62.333333,0,105,0.0

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,0.0%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 3 1 (Logscore),34.133333,15,15,10,100.0,100.000000,66.666667,15
2,R_e 3 1 (Spherical),42.266667,15,13,5,100.0,86.666667,33.333333,15
1,R_e 3 1 (Brier),60.466667,12,2,0,80.0,13.333333,0.000000,15
3,R_e 3 1 (Zero-one),74.400000,3,0,0,20.0,0.000000,0.000000,15

Best Individual Component: R_e 3 1 (Logscore)
  - Average Rank: 34.13
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
4,0.5,2,2,beta,global_scaler,15,5,15,15,15,64.133333,60,105,57.142857
12,0.5,5,2,beta,global_scaler,15,5,15,15,15,64.133333,60,105,57.142857
28,2.0,5,2,beta,global_scaler,15,5,15,15,15,64.133333,60,105,57.142857
20,2.0,2,2,beta,global_scaler,15,5,15,15,15,64.133333,60,105,57.142857
22,2.0,2,2,exp,global_scaler,15,5,15,15,15,64.200000,60,105,57.142857
30,2.0,5,2,exp,global_scaler,15,5,15,15,15,64.200000,60,105,57.142857
14,0.5,5,2,exp,global_scaler,15,5,15,15,15,64.466667,60,105,57.142857
6,0.5,2,2,exp,global_scaler,15,5,15,15,15,64.466667,60,105,57.142857
0,0.5,2,1,beta,global_scaler,15,5,15,15,15,64.866667,60,105,57.142857
8,0.5,5,1,beta,global_scaler,15,5,15,15,15,64.866667,60,105,57.142857
24,2.0,5,1,beta,global_scaler,15,5,15,15,15,64.933333,60,105,57.142857
16,2.0,2,1,beta,global_scaler,15,5,15,15,15,64.933333,60,105,57.142857
26,2.0,5,1,exp,global_scaler,15,5,15,15,15,65.133333,60,105,57.142857
18,2.0,2,1,exp,global_scaler,15,5,15,15,15,65.200000,60,105,57.142857
5,0.5,2,2,beta,none,15,6,15,15,15,65.400000,77,105,73.333333
13,0.5,5,2,beta,none,15,6,15,15,15,65.466667,77,105,73.333333
29,2.0,5,2,beta,none,15,6,15,15,15,65.533333,77,105,73.333333
21,2.0,2,2,beta,none,15,6,15,15,15,65.533333,77,105,73.333333
2,0.5,2,1,exp,global_scaler,15,5,15,15,15,65.533333,60,105,57.142857
10,0.5,5,1,exp,global_scaler,15,5,15,15,15,65.533333,60,105,57.142857
31,2.0,5,2,exp,none,15,6,15,15,15,65.733333,77,105,73.333333
23,2.0,2,2,exp,none,15,6,15,15,15,65.800000,77,105,73.333333
9,0.5,5,1,beta,none,15,6,15,15,15,66.133333,77,105,73.333333
1,0.5,2,1,beta,none,15,6,15,15,15,66.133333,77,105,73.333333
25,2.0,5,1,beta,none,15,6,15,15,15,66.266667,77,105,73.333333
17,2.0,2,1,beta,none,15,6,15,15,15,66.266667,77,105,73.333333
27,2.0,5,1,exp,none,15,6,15,15,15,66.533333,77,105,73.333333
19,2.0,2,1,exp,none,15,6,15,15,15,66.600000,77,105,73.333333
7,0.5,2,2,exp,none,15,6,15,15,15,67.266667,77,105,73.333333
15,0.5,5,2,exp,none,15,6,15,15,15,67.266667,77,105,73.333333
11,0.5,5,1,exp,none,15,6,15,15,15,68.466667,77,105,73.333333
3,0.5,2,1,exp,none,15,6,15,15,15,68.466667,77,105,73.333333

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,73.3%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 3 2 (Spherical),58.533333,15,15,10,100.0,100.0,66.666667,15
0,R_e 3 2 (Logscore),68.733333,15,15,5,100.0,100.0,33.333333,15
1,R_e 3 2 (Brier),87.466667,15,0,0,100.0,0.0,0.000000,15
3,R_e 3 2 (Zero-one),87.466667,0,0,0,0.0,0.0,0.000000,15

Best Individual Component: R_e 3 2 (Spherical)
  - Average Rank: 58.53
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
1,0.5,2,1,exp,none,15,0,0,0,0,91.6,105,105,100.000000
2,0.5,2,2,beta,none,15,3,3,3,3,91.6,105,105,100.000000
4,0.5,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
7,0.5,5,2,exp,none,15,0,0,0,0,91.6,105,105,100.000000
6,0.5,5,2,beta,none,15,3,3,3,3,91.6,105,105,100.000000
9,2.0,2,1,exp,none,15,3,3,3,3,91.6,105,105,100.000000
8,2.0,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
12,2.0,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.000000
13,2.0,5,1,exp,none,15,3,3,3,3,91.6,105,105,100.000000
10,2.0,2,2,beta,none,15,0,0,0,0,91.6,105,105,100.000000
11,2.0,2,2,exp,none,15,3,3,3,3,91.6,105,105,100.000000
14,2.0,5,2,beta,none,15,0,0,0,0,91.6,105,105,100.000000
15,2.0,5,2,exp,none,15,3,3,3,3,91.6,105,105,100.000000
5,0.5,5,1,exp,none,15,0,0,0,0,91.8,66,105,62.857143
3,0.5,2,2,exp,none,15,0,0,0,0,91.8,66,105,62.857143

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,100.0%,0.5,2,1,none,beta
1,Best Dominance 50%,3/15,0.5,2,2,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL CENTRAL
----------------------------------------
Note: Composite measure 'composite excess all central central' not found in DataFrame columns
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 3 3 (Logscore),87.466667,15,15,15,100.0,100.0,100.0,15
1,R_e 3 3 (Brier),87.466667,15,15,0,100.0,100.0,0.0,15
2,R_e 3 3 (Spherical),87.466667,15,0,0,100.0,0.0,0.0,15
3,R_e 3 3 (Zero-one),87.466667,0,0,0,0.0,0.0,0.0,15

Best Individual Component: R_e 3 3 (Logscore)
  - Average Rank: 87.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 15/15 problems (100.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS OUTER OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
6,0.5,2,2,exp,global_scaler,15,0,0,7,15,45.333333,14,105,13.333333
22,2.0,2,2,exp,global_scaler,15,0,0,7,15,45.400000,14,105,13.333333
14,0.5,5,2,exp,global_scaler,15,0,0,7,15,45.466667,14,105,13.333333
24,2.0,5,1,beta,global_scaler,15,0,0,7,15,45.733333,14,105,13.333333
4,0.5,2,2,beta,global_scaler,15,0,0,7,15,45.800000,14,105,13.333333
16,2.0,2,1,beta,global_scaler,15,0,0,7,15,45.800000,14,105,13.333333
8,0.5,5,1,beta,global_scaler,15,0,0,7,15,45.866667,14,105,13.333333
0,0.5,2,1,beta,global_scaler,15,0,0,7,15,45.866667,14,105,13.333333
20,2.0,2,2,beta,global_scaler,15,0,0,7,15,45.933333,14,105,13.333333
12,0.5,5,2,beta,global_scaler,15,0,0,7,15,45.933333,14,105,13.333333
30,2.0,5,2,exp,global_scaler,15,0,0,7,15,45.933333,14,105,13.333333
28,2.0,5,2,beta,global_scaler,15,0,0,7,15,45.933333,14,105,13.333333
10,0.5,5,1,exp,global_scaler,15,0,0,6,15,46.933333,12,105,11.428571
2,0.5,2,1,exp,global_scaler,15,0,0,6,15,46.933333,12,105,11.428571
18,2.0,2,1,exp,global_scaler,15,0,0,6,15,47.266667,12,105,11.428571
26,2.0,5,1,exp,global_scaler,15,0,0,6,15,47.333333,12,105,11.428571
7,0.5,2,2,exp,none,15,0,0,3,15,57.000000,6,105,5.714286
15,0.5,5,2,exp,none,15,0,0,3,15,57.000000,6,105,5.714286
9,0.5,5,1,beta,none,15,0,0,2,15,58.266667,4,105,3.809524
1,0.5,2,1,beta,none,15,0,0,2,15,58.266667,4,105,3.809524
25,2.0,5,1,beta,none,15,0,0,2,15,58.400000,4,105,3.809524
17,2.0,2,1,beta,none,15,0,0,2,15,58.400000,4,105,3.809524
5,0.5,2,2,beta,none,15,0,0,2,15,58.466667,4,105,3.809524
13,0.5,5,2,beta,none,15,0,0,2,15,58.466667,4,105,3.809524
11,0.5,5,1,exp,none,15,0,0,2,15,58.666667,4,105,3.809524
3,0.5,2,1,exp,none,15,0,0,2,15,58.666667,4,105,3.809524
21,2.0,2,2,beta,none,15,0,0,2,15,58.666667,4,105,3.809524
29,2.0,5,2,beta,none,15,0,0,2,15,58.666667,4,105,3.809524
31,2.0,5,2,exp,none,15,0,0,2,15,58.933333,4,105,3.809524
23,2.0,2,2,exp,none,15,0,0,2,15,58.933333,4,105,3.809524
27,2.0,5,1,exp,none,15,0,0,2,15,60.800000,4,105,3.809524
19,2.0,2,1,exp,none,15,0,0,2,15,60.933333,4,105,3.809524

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,13.3%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,7/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS OUTER OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 1 (Logscore),41.200000,13,10,10,86.666667,66.666667,66.666667,15
2,R_e 1 1 (Spherical),46.533333,15,5,5,100.000000,33.333333,33.333333,15
1,R_e 1 1 (Brier),60.533333,2,0,0,13.333333,0.000000,0.000000,15

Best Individual Component: R_e 1 1 (Logscore)
  - Average Rank: 41.20
  - Dominates 50% in 13/15 problems (86.7%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS OUTER INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
6,0.5,2,2,exp,global_scaler,15,0,0,10,15,39.933333,26,105,24.761905
14,0.5,5,2,exp,global_scaler,15,0,0,10,15,40.000000,26,105,24.761905
22,2.0,2,2,exp,global_scaler,15,0,0,10,15,40.000000,26,105,24.761905
30,2.0,5,2,exp,global_scaler,15,0,0,10,15,40.400000,26,105,24.761905
16,2.0,2,1,beta,global_scaler,15,0,0,10,15,40.533333,26,105,24.761905
20,2.0,2,2,beta,global_scaler,15,0,0,10,15,40.533333,26,105,24.761905
28,2.0,5,2,beta,global_scaler,15,0,0,10,15,40.533333,26,105,24.761905
24,2.0,5,1,beta,global_scaler,15,0,0,10,15,40.533333,26,105,24.761905
12,0.5,5,2,beta,global_scaler,15,0,0,10,15,40.733333,26,105,24.761905
4,0.5,2,2,beta,global_scaler,15,0,0,10,15,40.733333,26,105,24.761905
0,0.5,2,1,beta,global_scaler,15,0,0,10,15,40.800000,26,105,24.761905
8,0.5,5,1,beta,global_scaler,15,0,0,10,15,40.800000,26,105,24.761905
10,0.5,5,1,exp,global_scaler,15,0,0,10,15,41.466667,26,105,24.761905
2,0.5,2,1,exp,global_scaler,15,0,0,10,15,41.466667,26,105,24.761905
18,2.0,2,1,exp,global_scaler,15,0,0,10,15,41.800000,26,105,24.761905
26,2.0,5,1,exp,global_scaler,15,0,0,10,15,41.800000,26,105,24.761905
7,0.5,2,2,exp,none,15,2,2,10,15,50.333333,27,105,25.714286
15,0.5,5,2,exp,none,15,2,2,10,15,50.333333,27,105,25.714286
25,2.0,5,1,beta,none,15,2,2,9,15,51.933333,27,105,25.714286
17,2.0,2,1,beta,none,15,2,2,9,15,51.933333,27,105,25.714286
5,0.5,2,2,beta,none,15,2,2,9,15,51.933333,27,105,25.714286
3,0.5,2,1,exp,none,15,2,2,9,15,52.000000,27,105,25.714286
11,0.5,5,1,exp,none,15,2,2,9,15,52.000000,27,105,25.714286
13,0.5,5,2,beta,none,15,2,2,9,15,52.000000,27,105,25.714286
31,2.0,5,2,exp,none,15,2,2,9,15,52.000000,27,105,25.714286
23,2.0,2,2,exp,none,15,2,2,9,15,52.066667,27,105,25.714286
29,2.0,5,2,beta,none,15,2,2,9,15,52.066667,27,105,25.714286
21,2.0,2,2,beta,none,15,2,2,9,15,52.066667,27,105,25.714286
9,0.5,5,1,beta,none,15,2,2,9,15,52.133333,27,105,25.714286
1,0.5,2,1,beta,none,15,2,2,9,15,52.133333,27,105,25.714286
19,2.0,2,1,exp,none,15,2,2,7,15,53.266667,27,105,25.714286
27,2.0,5,1,exp,none,15,2,2,7,15,53.266667,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,25.7%,0.5,2,1,none,beta
1,Best Dominance 50%,10/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS OUTER INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 2 (Logscore),35.466667,14,11,11,93.333333,73.333333,73.333333,15
2,R_e 1 2 (Spherical),49.266667,13,2,2,86.666667,13.333333,13.333333,15
1,R_e 1 2 (Brier),61.000000,3,2,2,20.000000,13.333333,13.333333,15

Best Individual Component: R_e 1 2 (Logscore)
  - Average Rank: 35.47
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS OUTER CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
4,0.5,2,2,beta,global_scaler,15,0,0,13,15,52.466667,53,105,50.476190
12,0.5,5,2,beta,global_scaler,15,0,0,13,15,52.466667,53,105,50.476190
30,2.0,5,2,exp,global_scaler,15,0,0,12,15,52.466667,48,105,45.714286
22,2.0,2,2,exp,global_scaler,15,0,0,13,15,52.466667,53,105,50.476190
28,2.0,5,2,beta,global_scaler,15,0,0,13,15,52.466667,53,105,50.476190
16,2.0,2,1,beta,global_scaler,15,0,0,13,15,52.533333,53,105,50.476190
24,2.0,5,1,beta,global_scaler,15,0,0,13,15,52.533333,53,105,50.476190
20,2.0,2,2,beta,global_scaler,15,0,0,13,15,52.533333,53,105,50.476190
8,0.5,5,1,beta,global_scaler,15,0,0,13,15,52.933333,53,105,50.476190
0,0.5,2,1,beta,global_scaler,15,0,0,13,15,52.933333,53,105,50.476190
6,0.5,2,2,exp,global_scaler,15,0,0,11,15,53.200000,47,105,44.761905
14,0.5,5,2,exp,global_scaler,15,0,0,11,15,53.266667,47,105,44.761905
18,2.0,2,1,exp,global_scaler,15,0,0,12,15,53.933333,48,105,45.714286
26,2.0,5,1,exp,global_scaler,15,0,0,12,15,54.266667,48,105,45.714286
10,0.5,5,1,exp,global_scaler,15,0,0,11,15,54.466667,47,105,44.761905
2,0.5,2,1,exp,global_scaler,15,0,0,11,15,54.533333,47,105,44.761905
15,0.5,5,2,exp,none,15,0,0,7,15,63.666667,24,105,22.857143
7,0.5,2,2,exp,none,15,0,0,7,15,63.733333,24,105,22.857143
3,0.5,2,1,exp,none,15,0,0,8,15,64.066667,25,105,23.809524
11,0.5,5,1,exp,none,15,0,0,8,15,64.133333,25,105,23.809524
1,0.5,2,1,beta,none,15,1,1,9,15,64.466667,38,105,36.190476
9,0.5,5,1,beta,none,15,1,1,9,15,64.466667,38,105,36.190476
25,2.0,5,1,beta,none,15,1,1,9,15,64.666667,38,105,36.190476
17,2.0,2,1,beta,none,15,1,1,9,15,64.666667,38,105,36.190476
13,0.5,5,2,beta,none,15,1,1,9,15,64.800000,38,105,36.190476
5,0.5,2,2,beta,none,15,1,1,9,15,64.800000,38,105,36.190476
23,2.0,2,2,exp,none,15,0,0,8,15,64.933333,25,105,23.809524
21,2.0,2,2,beta,none,15,1,1,9,15,65.066667,38,105,36.190476
31,2.0,5,2,exp,none,15,0,0,8,15,65.066667,25,105,23.809524
29,2.0,5,2,beta,none,15,1,1,9,15,65.066667,38,105,36.190476
19,2.0,2,1,exp,none,15,1,1,7,15,66.000000,31,105,29.523810
27,2.0,5,1,exp,none,15,0,0,7,15,66.133333,19,105,18.095238

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,50.5%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,13/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS OUTER CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 3 (Logscore),49.266667,12,6,6,80.0,40.000000,40.000000,15
2,R_e 1 3 (Spherical),51.266667,15,8,8,100.0,53.333333,53.333333,15
1,R_e 1 3 (Brier),61.000000,3,1,1,20.0,6.666667,6.666667,15

Best Individual Component: R_e 1 3 (Logscore)
  - Average Rank: 49.27
  - Dominates 50% in 12/15 problems (80.0%)
  - Dominates 75% in 6/15 problems (40.0%)
  - Dominates 100% in 6/15 problems (40.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS INNER OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
14,0.5,5,2,exp,global_scaler,15,2,2,12,15,49.333333,59,105,56.190476
6,0.5,2,2,exp,global_scaler,15,2,2,11,15,49.400000,52,105,49.523810
22,2.0,2,2,exp,global_scaler,15,2,2,11,15,49.400000,52,105,49.523810
4,0.5,2,2,beta,global_scaler,15,2,2,11,15,49.600000,52,105,49.523810
8,0.5,5,1,beta,global_scaler,15,2,2,11,15,49.600000,52,105,49.523810
12,0.5,5,2,beta,global_scaler,15,2,2,11,15,49.600000,52,105,49.523810
0,0.5,2,1,beta,global_scaler,15,2,2,11,15,49.600000,52,105,49.523810
16,2.0,2,1,beta,global_scaler,15,2,2,11,15,49.666667,52,105,49.523810
24,2.0,5,1,beta,global_scaler,15,2,2,11,15,49.666667,52,105,49.523810
20,2.0,2,2,beta,global_scaler,15,2,2,11,15,49.666667,52,105,49.523810
30,2.0,5,2,exp,global_scaler,15,2,2,11,15,49.666667,52,105,49.523810
28,2.0,5,2,beta,global_scaler,15,2,2,11,15,49.666667,52,105,49.523810
10,0.5,5,1,exp,global_scaler,15,2,2,10,15,50.000000,50,105,47.619048
2,0.5,2,1,exp,global_scaler,15,2,2,10,15,50.000000,50,105,47.619048
26,2.0,5,1,exp,global_scaler,15,2,2,10,15,50.333333,50,105,47.619048
18,2.0,2,1,exp,global_scaler,15,2,2,10,15,50.400000,50,105,47.619048
7,0.5,2,2,exp,none,15,3,3,10,15,62.600000,63,105,60.000000
15,0.5,5,2,exp,none,15,3,3,10,15,62.733333,63,105,60.000000
11,0.5,5,1,exp,none,15,2,2,8,15,64.133333,53,105,50.476190
3,0.5,2,1,exp,none,15,2,2,8,15,64.133333,53,105,50.476190
1,0.5,2,1,beta,none,15,3,3,10,15,65.200000,65,105,61.904762
9,0.5,5,1,beta,none,15,3,3,10,15,65.266667,65,105,61.904762
31,2.0,5,2,exp,none,15,3,3,8,15,65.400000,61,105,58.095238
23,2.0,2,2,exp,none,15,3,3,8,15,65.400000,61,105,58.095238
13,0.5,5,2,beta,none,15,3,3,9,15,65.533333,62,105,59.047619
5,0.5,2,2,beta,none,15,3,3,9,15,65.533333,62,105,59.047619
17,2.0,2,1,beta,none,15,3,3,9,15,65.666667,63,105,60.000000
25,2.0,5,1,beta,none,15,3,3,9,15,65.666667,63,105,60.000000
29,2.0,5,2,beta,none,15,3,3,8,15,65.800000,61,105,58.095238
21,2.0,2,2,beta,none,15,3,3,8,15,65.800000,61,105,58.095238
27,2.0,5,1,exp,none,15,2,2,8,15,66.000000,53,105,50.476190
19,2.0,2,1,exp,none,15,2,2,8,15,66.133333,53,105,50.476190

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,61.9%,0.5,2,1,none,beta
1,Best Dominance 50%,12/15,0.5,5,2,global_scaler,exp

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS INNER OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 2 1 (Logscore),46.733333,14,10,10,93.333333,66.666667,66.666667,15
2,R_e 2 1 (Spherical),56.800000,12,3,3,80.000000,20.000000,20.000000,15
1,R_e 2 1 (Brier),60.466667,4,2,2,26.666667,13.333333,13.333333,15

Best Individual Component: R_e 2 1 (Logscore)
  - Average Rank: 46.73
  - Dominates 50% in 14/15 problems (93.3%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS INNER INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
1,0.5,2,1,exp,none,15,0,0,0,0,91.6,105,105,100.0
3,0.5,2,2,exp,none,15,0,0,0,0,91.6,105,105,100.0
4,0.5,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
7,0.5,5,2,exp,none,15,0,0,0,0,91.6,105,105,100.0
5,0.5,5,1,exp,none,15,0,0,0,0,91.6,105,105,100.0
10,2.0,2,2,beta,none,15,0,0,0,0,91.6,105,105,100.0
8,2.0,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
14,2.0,5,2,beta,none,15,0,0,0,0,91.6,105,105,100.0
12,2.0,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
6,0.5,5,2,beta,none,15,0,0,0,0,91.8,105,105,100.0
2,0.5,2,2,beta,none,15,0,0,0,0,91.8,105,105,100.0
11,2.0,2,2,exp,none,15,0,0,0,0,91.8,105,105,100.0
9,2.0,2,1,exp,none,15,0,0,0,0,91.8,105,105,100.0
13,2.0,5,1,exp,none,15,0,0,0,0,91.8,105,105,100.0
15,2.0,5,2,exp,none,15,0,0,0,0,91.8,105,105,100.0

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,100.0%,0.5,2,1,none,beta
1,Best Dominance 50%,0/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS INNER INNER
----------------------------------------
Note: Composite measure 'composite excess lbs inner inner' not found in DataFrame columns
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 2 2 (Logscore),87.466667,15,15,15,100.0,100.0,100.0,15
1,R_e 2 2 (Brier),87.466667,15,0,0,100.0,0.0,0.0,15
2,R_e 2 2 (Spherical),87.466667,0,0,0,0.0,0.0,0.0,15

Best Individual Component: R_e 2 2 (Logscore)
  - Average Rank: 87.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 15/15 problems (100.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS INNER CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,global_scaler,15,3,3,15,15,70.200000,50,105,47.619048
8,0.5,5,1,beta,global_scaler,15,3,3,15,15,70.200000,50,105,47.619048
24,2.0,5,1,beta,global_scaler,15,3,3,15,15,70.200000,50,105,47.619048
16,2.0,2,1,beta,global_scaler,15,3,3,15,15,70.200000,50,105,47.619048
18,2.0,2,1,exp,global_scaler,15,3,3,15,15,70.333333,50,105,47.619048
2,0.5,2,1,exp,global_scaler,15,3,3,15,15,70.400000,50,105,47.619048
26,2.0,5,1,exp,global_scaler,15,3,3,15,15,70.466667,50,105,47.619048
10,0.5,5,1,exp,global_scaler,15,3,3,15,15,70.466667,50,105,47.619048
4,0.5,2,2,beta,global_scaler,15,3,3,15,15,71.200000,50,105,47.619048
12,0.5,5,2,beta,global_scaler,15,3,3,15,15,71.200000,50,105,47.619048
28,2.0,5,2,beta,global_scaler,15,3,3,15,15,71.200000,50,105,47.619048
20,2.0,2,2,beta,global_scaler,15,3,3,15,15,71.200000,50,105,47.619048
22,2.0,2,2,exp,global_scaler,15,3,3,15,15,71.333333,50,105,47.619048
6,0.5,2,2,exp,global_scaler,15,3,3,15,15,71.400000,50,105,47.619048
30,2.0,5,2,exp,global_scaler,15,3,3,15,15,71.466667,50,105,47.619048
14,0.5,5,2,exp,global_scaler,15,3,3,15,15,71.466667,50,105,47.619048
1,0.5,2,1,beta,none,15,6,6,15,15,79.400000,77,105,73.333333
9,0.5,5,1,beta,none,15,6,6,15,15,79.400000,77,105,73.333333
25,2.0,5,1,beta,none,15,6,6,15,15,79.466667,77,105,73.333333
17,2.0,2,1,beta,none,15,6,6,15,15,79.466667,77,105,73.333333
11,0.5,5,1,exp,none,15,5,5,15,15,79.800000,69,105,65.714286
3,0.5,2,1,exp,none,15,5,5,15,15,79.800000,69,105,65.714286
19,2.0,2,1,exp,none,15,6,6,15,15,79.800000,77,105,73.333333
27,2.0,5,1,exp,none,15,6,6,15,15,79.866667,77,105,73.333333
5,0.5,2,2,beta,none,15,6,6,15,15,80.133333,77,105,73.333333
13,0.5,5,2,beta,none,15,6,6,15,15,80.133333,77,105,73.333333
29,2.0,5,2,beta,none,15,6,6,15,15,80.200000,77,105,73.333333
21,2.0,2,2,beta,none,15,6,6,15,15,80.200000,77,105,73.333333
31,2.0,5,2,exp,none,15,6,6,15,15,80.533333,77,105,73.333333
23,2.0,2,2,exp,none,15,6,6,15,15,80.600000,77,105,73.333333
15,0.5,5,2,exp,none,15,5,5,15,15,80.800000,69,105,65.714286
7,0.5,2,2,exp,none,15,5,5,15,15,80.800000,69,105,65.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,73.3%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS INNER CENTRAL
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 2 3 (Spherical),67.333333,15,11,11,100.0,73.333333,73.333333,15
0,R_e 2 3 (Logscore),74.000000,15,4,4,100.0,26.666667,26.666667,15
1,R_e 2 3 (Brier),87.466667,0,0,0,0.0,0.000000,0.000000,15

Best Individual Component: R_e 2 3 (Spherical)
  - Average Rank: 67.33
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS CENTRAL OUTER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,global_scaler,15,0,0,7,15,38.400000,0,105,0.0
8,0.5,5,1,beta,global_scaler,15,0,0,7,15,38.400000,0,105,0.0
24,2.0,5,1,beta,global_scaler,15,0,0,7,15,38.400000,0,105,0.0
16,2.0,2,1,beta,global_scaler,15,0,0,7,15,38.400000,0,105,0.0
22,2.0,2,2,exp,global_scaler,15,0,0,7,15,38.533333,0,105,0.0
20,2.0,2,2,beta,global_scaler,15,0,0,7,15,38.600000,0,105,0.0
12,0.5,5,2,beta,global_scaler,15,0,0,7,15,38.600000,0,105,0.0
4,0.5,2,2,beta,global_scaler,15,0,0,7,15,38.600000,0,105,0.0
28,2.0,5,2,beta,global_scaler,15,0,0,7,15,38.600000,0,105,0.0
14,0.5,5,2,exp,global_scaler,15,0,0,7,15,38.866667,0,105,0.0
30,2.0,5,2,exp,global_scaler,15,0,0,7,15,39.000000,0,105,0.0
6,0.5,2,2,exp,global_scaler,15,0,0,7,15,39.133333,0,105,0.0
2,0.5,2,1,exp,global_scaler,15,0,0,7,15,39.400000,0,105,0.0
26,2.0,5,1,exp,global_scaler,15,0,0,7,15,39.400000,0,105,0.0
18,2.0,2,1,exp,global_scaler,15,0,0,7,15,39.466667,0,105,0.0
10,0.5,5,1,exp,global_scaler,15,0,0,7,15,39.466667,0,105,0.0
7,0.5,2,2,exp,none,15,0,0,6,15,49.200000,0,105,0.0
15,0.5,5,2,exp,none,15,0,0,6,15,49.200000,0,105,0.0
9,0.5,5,1,beta,none,15,0,0,5,15,49.600000,0,105,0.0
1,0.5,2,1,beta,none,15,0,0,5,15,49.600000,0,105,0.0
25,2.0,5,1,beta,none,15,0,0,5,15,49.666667,0,105,0.0
17,2.0,2,1,beta,none,15,0,0,5,15,49.666667,0,105,0.0
5,0.5,2,2,beta,none,15,0,0,5,15,49.666667,0,105,0.0
13,0.5,5,2,beta,none,15,0,0,5,15,49.666667,0,105,0.0
23,2.0,2,2,exp,none,15,0,0,5,15,49.733333,0,105,0.0
11,0.5,5,1,exp,none,15,0,0,5,15,49.733333,0,105,0.0
3,0.5,2,1,exp,none,15,0,0,5,15,49.800000,0,105,0.0
21,2.0,2,2,beta,none,15,0,0,5,15,49.800000,0,105,0.0
29,2.0,5,2,beta,none,15,0,0,5,15,49.800000,0,105,0.0
31,2.0,5,2,exp,none,15,0,0,5,15,49.866667,0,105,0.0
19,2.0,2,1,exp,none,15,0,0,5,15,50.600000,0,105,0.0
27,2.0,5,1,exp,none,15,0,0,5,15,50.800000,0,105,0.0

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,0.0%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,7/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS CENTRAL OUTER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 3 1 (Logscore),34.133333,15,10,10,100.000000,66.666667,66.666667,15
2,R_e 3 1 (Spherical),42.266667,13,5,5,86.666667,33.333333,33.333333,15
1,R_e 3 1 (Brier),60.466667,2,0,0,13.333333,0.000000,0.000000,15

Best Individual Component: R_e 3 1 (Logscore)
  - Average Rank: 34.13
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS CENTRAL INNER
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,global_scaler,15,5,5,15,15,64.000000,60,105,57.142857
8,0.5,5,1,beta,global_scaler,15,5,5,15,15,64.000000,60,105,57.142857
24,2.0,5,1,beta,global_scaler,15,5,5,15,15,64.000000,60,105,57.142857
16,2.0,2,1,beta,global_scaler,15,5,5,15,15,64.000000,60,105,57.142857
26,2.0,5,1,exp,global_scaler,15,5,5,15,15,64.000000,60,105,57.142857
18,2.0,2,1,exp,global_scaler,15,5,5,15,15,64.066667,60,105,57.142857
10,0.5,5,1,exp,global_scaler,15,5,5,15,15,64.466667,60,105,57.142857
2,0.5,2,1,exp,global_scaler,15,5,5,15,15,64.466667,60,105,57.142857
4,0.5,2,2,beta,global_scaler,15,5,5,15,15,65.000000,60,105,57.142857
12,0.5,5,2,beta,global_scaler,15,5,5,15,15,65.000000,60,105,57.142857
28,2.0,5,2,beta,global_scaler,15,5,5,15,15,65.000000,60,105,57.142857
20,2.0,2,2,beta,global_scaler,15,5,5,15,15,65.000000,60,105,57.142857
17,2.0,2,1,beta,none,15,6,6,15,15,65.066667,77,105,73.333333
19,2.0,2,1,exp,none,15,6,6,15,15,65.066667,77,105,73.333333
25,2.0,5,1,beta,none,15,6,6,15,15,65.066667,77,105,73.333333
9,0.5,5,1,beta,none,15,6,6,15,15,65.133333,77,105,73.333333
1,0.5,2,1,beta,none,15,6,6,15,15,65.133333,77,105,73.333333
27,2.0,5,1,exp,none,15,6,6,15,15,65.200000,77,105,73.333333
30,2.0,5,2,exp,global_scaler,15,5,5,15,15,65.200000,60,105,57.142857
22,2.0,2,2,exp,global_scaler,15,5,5,15,15,65.466667,60,105,57.142857
6,0.5,2,2,exp,global_scaler,15,5,5,15,15,65.466667,60,105,57.142857
14,0.5,5,2,exp,global_scaler,15,5,5,15,15,65.600000,60,105,57.142857
13,0.5,5,2,beta,none,15,6,6,15,15,66.333333,77,105,73.333333
5,0.5,2,2,beta,none,15,6,6,15,15,66.333333,77,105,73.333333
29,2.0,5,2,beta,none,15,6,6,15,15,66.400000,77,105,73.333333
21,2.0,2,2,beta,none,15,6,6,15,15,66.400000,77,105,73.333333
11,0.5,5,1,exp,none,15,6,6,15,15,67.000000,77,105,73.333333
3,0.5,2,1,exp,none,15,6,6,15,15,67.066667,77,105,73.333333
23,2.0,2,2,exp,none,15,6,6,15,15,67.333333,77,105,73.333333
31,2.0,5,2,exp,none,15,6,6,15,15,67.333333,77,105,73.333333
15,0.5,5,2,exp,none,15,6,6,15,15,68.866667,77,105,73.333333
7,0.5,2,2,exp,none,15,6,6,15,15,68.866667,77,105,73.333333

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,73.3%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS CENTRAL INNER
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 3 2 (Spherical),58.533333,15,10,10,100.0,66.666667,66.666667,15
0,R_e 3 2 (Logscore),68.733333,15,5,5,100.0,33.333333,33.333333,15
1,R_e 3 2 (Brier),87.466667,0,0,0,0.0,0.000000,0.000000,15

Best Individual Component: R_e 3 2 (Spherical)
  - Average Rank: 58.53
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 10/15 problems (66.7%)
  - Dominates 100% in 10/15 problems (66.7%)

============================================================
RESULTS FOR: COMPOSITE EXCESS LBS CENTRAL CENTRAL
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
1,0.5,2,1,exp,none,15,0,0,0,0,91.6,105,105,100.0
3,0.5,2,2,exp,none,15,0,0,0,0,91.6,105,105,100.0
4,0.5,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
7,0.5,5,2,exp,none,15,0,0,0,0,91.6,105,105,100.0
5,0.5,5,1,exp,none,15,0,0,0,0,91.6,105,105,100.0
10,2.0,2,2,beta,none,15,0,0,0,0,91.6,105,105,100.0
8,2.0,2,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
14,2.0,5,2,beta,none,15,0,0,0,0,91.6,105,105,100.0
12,2.0,5,1,beta,none,15,0,0,0,0,91.6,105,105,100.0
6,0.5,5,2,beta,none,15,0,0,0,0,91.8,105,105,100.0
2,0.5,2,2,beta,none,15,0,0,0,0,91.8,105,105,100.0
11,2.0,2,2,exp,none,15,0,0,0,0,91.8,105,105,100.0
9,2.0,2,1,exp,none,15,0,0,0,0,91.8,105,105,100.0
13,2.0,5,1,exp,none,15,0,0,0,0,91.8,105,105,100.0
15,2.0,5,2,exp,none,15,0,0,0,0,91.8,105,105,100.0

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,100.0%,0.5,2,1,none,beta
1,Best Dominance 50%,0/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS LBS CENTRAL CENTRAL
----------------------------------------
Note: Composite measure 'composite excess lbs central central' not found in DataFrame columns
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 3 3 (Logscore),87.466667,15,15,15,100.0,100.0,100.0,15
1,R_e 3 3 (Brier),87.466667,15,0,0,100.0,0.0,0.0,15
2,R_e 3 3 (Spherical),87.466667,0,0,0,0.0,0.0,0.0,15

Best Individual Component: R_e 3 3 (Logscore)
  - Average Rank: 87.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 15/15 problems (100.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
11,0.5,5,1,exp,none,15,0,3,13,15,64.800000,27,105,25.714286
19,2.0,2,1,exp,none,15,0,3,14,15,64.933333,27,105,25.714286
3,0.5,2,1,exp,none,15,0,3,13,15,65.000000,27,105,25.714286
27,2.0,5,1,exp,none,15,0,3,14,15,65.066667,27,105,25.714286
15,0.5,5,2,exp,none,15,0,3,13,15,65.333333,27,105,25.714286
25,2.0,5,1,beta,none,15,0,4,14,15,65.400000,28,105,26.666667
17,2.0,2,1,beta,none,15,0,4,14,15,65.400000,28,105,26.666667
7,0.5,2,2,exp,none,15,0,3,13,15,65.466667,27,105,25.714286
31,2.0,5,2,exp,none,15,0,3,14,15,65.466667,27,105,25.714286
23,2.0,2,2,exp,none,15,0,3,14,15,65.466667,27,105,25.714286
21,2.0,2,2,beta,none,15,0,3,14,15,65.600000,27,105,25.714286
29,2.0,5,2,beta,none,15,0,3,14,15,65.600000,27,105,25.714286
1,0.5,2,1,beta,none,15,0,4,14,15,65.866667,28,105,26.666667
9,0.5,5,1,beta,none,15,0,4,14,15,65.866667,28,105,26.666667
13,0.5,5,2,beta,none,15,0,3,14,15,65.933333,27,105,25.714286
5,0.5,2,2,beta,none,15,0,3,14,15,65.933333,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,3,15,68.400000,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,3,15,68.400000,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,3,15,68.466667,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,2,3,15,68.466667,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,3,15,68.466667,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,3,15,68.466667,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,3,15,68.533333,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,2,3,15,68.533333,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,2,3,15,68.600000,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,2,3,15,68.666667,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,26.7%,0.5,2,1,none,beta
1,Best Dominance 50%,14/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 1 (Logscore),41.200000,15,13,8,100.000000,86.666667,53.333333,15
2,R_e 1 1 (Spherical),46.533333,15,13,5,100.000000,86.666667,33.333333,15
1,R_e 1 1 (Brier),60.533333,6,2,0,40.000000,13.333333,0.000000,15
3,R_e 1 1 (Zero-one),70.800000,7,0,0,46.666667,0.000000,0.000000,15
4,mahalanobis,78.000000,2,2,2,13.333333,13.333333,13.333333,15

Best Individual Component: R_e 1 1 (Logscore)
  - Average Rank: 41.20
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 13/15 problems (86.7%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER INNER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
27,2.0,5,1,exp,none,15,0,7,15,15,55.933333,31,105,29.523810
19,2.0,2,1,exp,none,15,0,7,15,15,56.000000,31,105,29.523810
23,2.0,2,2,exp,none,15,0,7,15,15,56.466667,31,105,29.523810
31,2.0,5,2,exp,none,15,0,7,15,15,56.533333,31,105,29.523810
17,2.0,2,1,beta,none,15,0,6,15,15,57.000000,30,105,28.571429
21,2.0,2,2,beta,none,15,0,6,15,15,57.000000,30,105,28.571429
29,2.0,5,2,beta,none,15,0,6,15,15,57.000000,30,105,28.571429
25,2.0,5,1,beta,none,15,0,6,15,15,57.000000,30,105,28.571429
11,0.5,5,1,exp,none,15,0,4,13,15,57.666667,28,105,26.666667
1,0.5,2,1,beta,none,15,0,6,15,15,57.733333,30,105,28.571429
5,0.5,2,2,beta,none,15,0,6,15,15,57.733333,30,105,28.571429
3,0.5,2,1,exp,none,15,0,4,13,15,57.733333,28,105,26.666667
9,0.5,5,1,beta,none,15,0,6,15,15,57.733333,30,105,28.571429
13,0.5,5,2,beta,none,15,0,6,15,15,57.733333,30,105,28.571429
7,0.5,2,2,exp,none,15,0,3,13,15,58.266667,27,105,25.714286
15,0.5,5,2,exp,none,15,0,4,13,15,58.533333,28,105,26.666667
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,2,15,73.733333,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,2,15,73.800000,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,2,15,73.800000,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,2,15,73.800000,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,2,15,73.866667,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,2,2,15,73.933333,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,2,15,74.066667,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,2,15,74.066667,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,74.066667,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,74.066667,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,29.5%,2.0,2,1,none,exp
1,Best Dominance 50%,15/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER INNER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 2 (Logscore),35.466667,15,14,9,100.000000,93.333333,60.000000,15
2,R_e 1 2 (Spherical),49.266667,14,12,2,93.333333,80.000000,13.333333,15
1,R_e 1 2 (Brier),61.000000,6,2,2,40.000000,13.333333,13.333333,15
3,R_e 1 2 (Zero-one),68.000000,8,0,0,53.333333,0.000000,0.000000,15
4,mahalanobis,78.000000,2,2,2,13.333333,13.333333,13.333333,15

Best Individual Component: R_e 1 2 (Logscore)
  - Average Rank: 35.47
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 9/15 problems (60.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL OUTER CENTRAL + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
25,2.0,5,1,beta,none,15,1,8,13,15,64.066667,57,105,54.285714
17,2.0,2,1,beta,none,15,1,8,13,15,64.066667,57,105,54.285714
27,2.0,5,1,exp,none,15,0,8,13,15,64.133333,46,105,43.809524
19,2.0,2,1,exp,none,15,0,8,13,15,64.266667,46,105,43.809524
29,2.0,5,2,beta,none,15,0,8,13,15,64.266667,49,105,46.666667
21,2.0,2,2,beta,none,15,0,8,13,15,64.266667,49,105,46.666667
9,0.5,5,1,beta,none,15,1,7,12,15,64.533333,52,105,49.523810
1,0.5,2,1,beta,none,15,1,7,12,15,64.600000,52,105,49.523810
31,2.0,5,2,exp,none,15,0,7,12,15,64.666667,43,105,40.952381
23,2.0,2,2,exp,none,15,0,8,12,15,64.866667,46,105,43.809524
13,0.5,5,2,beta,none,15,0,7,12,15,64.933333,43,105,40.952381
5,0.5,2,2,beta,none,15,0,7,12,15,64.933333,43,105,40.952381
11,0.5,5,1,exp,none,15,0,3,9,15,66.933333,29,105,27.619048
3,0.5,2,1,exp,none,15,0,3,8,15,67.133333,28,105,26.666667
15,0.5,5,2,exp,none,15,0,3,8,15,67.266667,29,105,27.619048
7,0.5,2,2,exp,none,15,0,3,8,15,67.400000,29,105,27.619048
24,2.0,5,1,beta,global_scaler,15,2,2,2,15,72.200000,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,2,15,72.200000,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,2,15,72.200000,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,2,15,72.200000,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,2,15,72.266667,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,2,15,72.266667,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,72.266667,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,72.266667,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,2,15,72.333333,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,2,2,15,72.333333,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,2,15,72.333333,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,2,15,72.333333,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,72.533333,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,2,15,72.600000,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,2,15,72.600000,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,72.600000,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,54.3%,2.0,2,1,none,beta
1,Best Dominance 50%,13/15,2.0,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL OUTER CENTRAL + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 1 3 (Logscore),49.266667,15,8,6,100.000000,53.333333,40.000000,15
2,R_e 1 3 (Spherical),51.266667,15,15,6,100.000000,100.000000,40.000000,15
1,R_e 1 3 (Brier),61.000000,5,3,1,33.333333,20.000000,6.666667,15
3,R_e 1 3 (Zero-one),68.000000,8,2,0,53.333333,13.333333,0.000000,15
4,mahalanobis,78.000000,2,2,2,13.333333,13.333333,13.333333,15

Best Individual Component: R_e 1 3 (Logscore)
  - Average Rank: 49.27
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 8/15 problems (53.3%)
  - Dominates 100% in 6/15 problems (40.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
22,2.0,2,2,exp,global_scaler,15,2,2,2,15,71.266667,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,2,15,71.333333,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,2,15,71.333333,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,2,15,71.333333,27,105,25.714286
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,71.333333,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,2,15,71.333333,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,2,15,71.400000,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,71.466667,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,2,15,71.533333,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,2,15,71.533333,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,2,2,15,71.533333,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,2,15,71.533333,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,71.600000,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,71.600000,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,2,15,71.600000,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,2,15,71.600000,27,105,25.714286
23,2.0,2,2,exp,none,15,0,3,11,15,71.800000,26,105,24.761905
31,2.0,5,2,exp,none,15,0,3,11,15,71.933333,26,105,24.761905
19,2.0,2,1,exp,none,15,0,3,11,15,71.933333,26,105,24.761905
27,2.0,5,1,exp,none,15,0,3,11,15,72.066667,26,105,24.761905
11,0.5,5,1,exp,none,15,0,3,7,15,72.333333,26,105,24.761905
25,2.0,5,1,beta,none,15,0,3,12,15,72.400000,26,105,24.761905
3,0.5,2,1,exp,none,15,0,3,7,15,72.400000,26,105,24.761905
17,2.0,2,1,beta,none,15,0,3,12,15,72.400000,26,105,24.761905
21,2.0,2,2,beta,none,15,0,3,12,15,72.600000,26,105,24.761905
29,2.0,5,2,beta,none,15,0,3,12,15,72.600000,26,105,24.761905
13,0.5,5,2,beta,none,15,0,3,11,15,72.733333,26,105,24.761905
1,0.5,2,1,beta,none,15,0,3,11,15,72.800000,26,105,24.761905
5,0.5,2,2,beta,none,15,0,3,11,15,72.800000,26,105,24.761905
9,0.5,5,1,beta,none,15,0,3,11,15,72.800000,26,105,24.761905
15,0.5,5,2,exp,none,15,0,3,7,15,72.933333,26,105,24.761905
7,0.5,2,2,exp,none,15,0,3,7,15,72.933333,26,105,24.761905

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,25.7%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,12/15,2.0,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 2 1 (Logscore),46.733333,15,14,8,100.000000,93.333333,53.333333,15
2,R_e 2 1 (Spherical),56.800000,13,12,3,86.666667,80.000000,20.000000,15
1,R_e 2 1 (Brier),60.466667,12,2,2,80.000000,13.333333,13.333333,15
3,R_e 2 1 (Zero-one),74.400000,3,0,0,20.000000,0.000000,0.000000,15
4,mahalanobis,78.000000,2,2,2,13.333333,13.333333,13.333333,15

Best Individual Component: R_e 2 1 (Logscore)
  - Average Rank: 46.73
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 14/15 problems (93.3%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER INNER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
8,0.5,5,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
24,2.0,5,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
16,2.0,2,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
20,2.0,2,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
22,2.0,2,2,exp,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
12,0.5,5,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
4,0.5,2,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
28,2.0,5,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
30,2.0,5,2,exp,global_scaler,15,0,11,11,11,78.133333,99,105,94.285714
18,2.0,2,1,exp,global_scaler,15,0,11,11,11,78.133333,99,105,94.285714
26,2.0,5,1,exp,global_scaler,15,0,11,11,11,78.200000,99,105,94.285714
6,0.5,2,2,exp,global_scaler,15,0,11,11,11,78.266667,99,105,94.285714
14,0.5,5,2,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
10,0.5,5,1,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
2,0.5,2,1,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
3,0.5,2,1,exp,none,15,0,11,11,11,79.400000,99,105,94.285714
15,0.5,5,2,exp,none,15,0,11,11,11,79.400000,99,105,94.285714
19,2.0,2,1,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
7,0.5,2,2,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
11,0.5,5,1,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
23,2.0,2,2,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
1,0.5,2,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
9,0.5,5,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
27,2.0,5,1,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
25,2.0,5,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
17,2.0,2,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
21,2.0,2,2,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
29,2.0,5,2,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
31,2.0,5,2,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
13,0.5,5,2,beta,none,15,0,11,11,11,79.600000,99,105,94.285714
5,0.5,2,2,beta,none,15,0,11,11,11,79.600000,99,105,94.285714

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,94.3%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,11/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER INNER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
4,mahalanobis,78.000000,11,11,11,73.333333,73.333333,73.333333,15
0,R_e 2 2 (Logscore),87.466667,15,15,4,100.000000,100.000000,26.666667,15
2,R_e 2 2 (Spherical),87.466667,4,0,0,26.666667,0.000000,0.000000,15
1,R_e 2 2 (Brier),87.466667,15,4,0,100.000000,26.666667,0.000000,15
3,R_e 2 2 (Zero-one),87.466667,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: mahalanobis
  - Average Rank: 78.00
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL INNER CENTRAL + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
22,2.0,2,2,exp,global_scaler,15,5,5,11,15,76.133333,60,105,57.142857
0,0.5,2,1,beta,global_scaler,15,5,5,11,15,76.200000,60,105,57.142857
16,2.0,2,1,beta,global_scaler,15,5,5,11,15,76.200000,60,105,57.142857
8,0.5,5,1,beta,global_scaler,15,5,5,11,15,76.200000,60,105,57.142857
24,2.0,5,1,beta,global_scaler,15,5,5,11,15,76.200000,60,105,57.142857
20,2.0,2,2,beta,global_scaler,15,5,5,11,15,76.266667,60,105,57.142857
12,0.5,5,2,beta,global_scaler,15,5,5,11,15,76.266667,60,105,57.142857
4,0.5,2,2,beta,global_scaler,15,5,5,11,15,76.266667,60,105,57.142857
28,2.0,5,2,beta,global_scaler,15,5,5,11,15,76.266667,60,105,57.142857
30,2.0,5,2,exp,global_scaler,15,5,5,11,15,76.333333,60,105,57.142857
18,2.0,2,1,exp,global_scaler,15,5,5,11,15,76.333333,60,105,57.142857
26,2.0,5,1,exp,global_scaler,15,5,5,11,15,76.400000,60,105,57.142857
6,0.5,2,2,exp,global_scaler,15,5,5,11,15,76.533333,60,105,57.142857
14,0.5,5,2,exp,global_scaler,15,5,5,11,15,76.533333,60,105,57.142857
10,0.5,5,1,exp,global_scaler,15,5,5,11,15,76.600000,60,105,57.142857
2,0.5,2,1,exp,global_scaler,15,5,5,11,15,76.600000,60,105,57.142857
29,2.0,5,2,beta,none,15,3,14,15,15,77.466667,66,105,62.857143
25,2.0,5,1,beta,none,15,3,14,15,15,77.466667,66,105,62.857143
17,2.0,2,1,beta,none,15,3,14,15,15,77.466667,66,105,62.857143
21,2.0,2,2,beta,none,15,3,14,15,15,77.466667,66,105,62.857143
1,0.5,2,1,beta,none,15,3,14,15,15,77.666667,66,105,62.857143
9,0.5,5,1,beta,none,15,3,14,15,15,77.666667,66,105,62.857143
13,0.5,5,2,beta,none,15,3,14,15,15,77.933333,66,105,62.857143
5,0.5,2,2,beta,none,15,3,14,15,15,77.933333,66,105,62.857143
31,2.0,5,2,exp,none,15,3,14,15,15,78.066667,66,105,62.857143
19,2.0,2,1,exp,none,15,3,14,15,15,78.133333,66,105,62.857143
23,2.0,2,2,exp,none,15,3,14,15,15,78.133333,66,105,62.857143
27,2.0,5,1,exp,none,15,3,14,15,15,78.266667,66,105,62.857143
7,0.5,2,2,exp,none,15,3,10,15,15,79.266667,62,105,59.047619
15,0.5,5,2,exp,none,15,3,10,15,15,79.333333,62,105,59.047619
3,0.5,2,1,exp,none,15,3,10,15,15,79.400000,62,105,59.047619
11,0.5,5,1,exp,none,15,3,10,15,15,79.466667,62,105,59.047619

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,62.9%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL INNER CENTRAL + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 2 3 (Spherical),67.333333,15,12,9,100.000000,80.0,60.000000,15
0,R_e 2 3 (Logscore),74.000000,15,12,1,100.000000,80.0,6.666667,15
4,mahalanobis,78.000000,11,6,5,73.333333,40.0,33.333333,15
1,R_e 2 3 (Brier),87.466667,4,0,0,26.666667,0.0,0.000000,15
3,R_e 2 3 (Zero-one),87.466667,0,0,0,0.000000,0.0,0.000000,15

Best Individual Component: R_e 2 3 (Spherical)
  - Average Rank: 67.33
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 12/15 problems (80.0%)
  - Dominates 100% in 9/15 problems (60.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
23,2.0,2,2,exp,none,15,0,2,13,15,63.333333,26,105,24.761905
31,2.0,5,2,exp,none,15,0,2,13,15,63.800000,26,105,24.761905
19,2.0,2,1,exp,none,15,0,2,13,15,64.200000,26,105,24.761905
27,2.0,5,1,exp,none,15,0,2,13,15,64.200000,26,105,24.761905
25,2.0,5,1,beta,none,15,0,2,13,15,65.600000,26,105,24.761905
17,2.0,2,1,beta,none,15,0,2,13,15,65.666667,26,105,24.761905
7,0.5,2,2,exp,none,15,0,2,11,15,65.800000,26,105,24.761905
15,0.5,5,2,exp,none,15,0,2,11,15,65.933333,26,105,24.761905
21,2.0,2,2,beta,none,15,0,1,13,15,65.933333,13,105,12.380952
29,2.0,5,2,beta,none,15,0,1,13,15,66.000000,13,105,12.380952
3,0.5,2,1,exp,none,15,0,2,11,15,66.066667,26,105,24.761905
11,0.5,5,1,exp,none,15,0,2,11,15,66.133333,26,105,24.761905
1,0.5,2,1,beta,none,15,0,2,13,15,66.200000,26,105,24.761905
9,0.5,5,1,beta,none,15,0,2,13,15,66.200000,26,105,24.761905
13,0.5,5,2,beta,none,15,0,1,13,15,66.400000,13,105,12.380952
5,0.5,2,2,beta,none,15,0,1,13,15,66.400000,13,105,12.380952
18,2.0,2,1,exp,global_scaler,15,2,2,2,15,72.866667,27,105,25.714286
22,2.0,2,2,exp,global_scaler,15,2,2,2,15,72.866667,27,105,25.714286
30,2.0,5,2,exp,global_scaler,15,2,2,2,15,72.933333,27,105,25.714286
14,0.5,5,2,exp,global_scaler,15,2,2,2,15,72.933333,27,105,25.714286
6,0.5,2,2,exp,global_scaler,15,2,2,2,15,72.933333,27,105,25.714286
2,0.5,2,1,exp,global_scaler,15,2,2,2,15,72.933333,27,105,25.714286
10,0.5,5,1,exp,global_scaler,15,2,2,2,15,72.933333,27,105,25.714286
8,0.5,5,1,beta,global_scaler,15,2,2,2,15,73.066667,27,105,25.714286
26,2.0,5,1,exp,global_scaler,15,2,2,2,15,73.066667,27,105,25.714286
12,0.5,5,2,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
0,0.5,2,1,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
4,0.5,2,2,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
20,2.0,2,2,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
16,2.0,2,1,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
24,2.0,5,1,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286
28,2.0,5,2,beta,global_scaler,15,2,2,2,15,73.133333,27,105,25.714286

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,25.7%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,13/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
0,R_e 3 1 (Logscore),34.133333,15,15,8,100.000000,100.000000,53.333333,15
2,R_e 3 1 (Spherical),42.266667,15,11,5,100.000000,73.333333,33.333333,15
1,R_e 3 1 (Brier),60.466667,10,2,0,66.666667,13.333333,0.000000,15
3,R_e 3 1 (Zero-one),74.400000,3,0,0,20.000000,0.000000,0.000000,15
4,mahalanobis,78.000000,2,2,2,13.333333,13.333333,13.333333,15

Best Individual Component: R_e 3 1 (Logscore)
  - Average Rank: 34.13
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 15/15 problems (100.0%)
  - Dominates 100% in 8/15 problems (53.3%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL INNER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
29,2.0,5,2,beta,none,15,3,15,15,15,65.666667,68,105,64.761905
21,2.0,2,2,beta,none,15,3,15,15,15,65.666667,68,105,64.761905
17,2.0,2,1,beta,none,15,3,15,15,15,65.866667,68,105,64.761905
25,2.0,5,1,beta,none,15,3,15,15,15,65.866667,68,105,64.761905
5,0.5,2,2,beta,none,15,3,15,15,15,66.200000,68,105,64.761905
13,0.5,5,2,beta,none,15,3,15,15,15,66.200000,68,105,64.761905
9,0.5,5,1,beta,none,15,3,15,15,15,66.333333,68,105,64.761905
1,0.5,2,1,beta,none,15,3,15,15,15,66.333333,68,105,64.761905
31,2.0,5,2,exp,none,15,3,15,15,15,66.600000,68,105,64.761905
27,2.0,5,1,exp,none,15,3,15,15,15,66.733333,68,105,64.761905
23,2.0,2,2,exp,none,15,3,15,15,15,66.933333,68,105,64.761905
19,2.0,2,1,exp,none,15,3,15,15,15,67.133333,68,105,64.761905
7,0.5,2,2,exp,none,15,3,15,15,15,72.000000,68,105,64.761905
15,0.5,5,2,exp,none,15,3,15,15,15,72.000000,68,105,64.761905
3,0.5,2,1,exp,none,15,3,15,15,15,72.000000,68,105,64.761905
11,0.5,5,1,exp,none,15,3,15,15,15,72.133333,68,105,64.761905
22,2.0,2,2,exp,global_scaler,15,5,6,11,15,76.933333,60,105,57.142857
24,2.0,5,1,beta,global_scaler,15,5,6,11,15,77.000000,60,105,57.142857
16,2.0,2,1,beta,global_scaler,15,5,6,11,15,77.000000,60,105,57.142857
18,2.0,2,1,exp,global_scaler,15,5,6,11,15,77.000000,60,105,57.142857
0,0.5,2,1,beta,global_scaler,15,5,6,11,15,77.000000,60,105,57.142857
8,0.5,5,1,beta,global_scaler,15,5,6,11,15,77.000000,60,105,57.142857
12,0.5,5,2,beta,global_scaler,15,5,6,11,15,77.066667,60,105,57.142857
4,0.5,2,2,beta,global_scaler,15,5,6,11,15,77.066667,60,105,57.142857
20,2.0,2,2,beta,global_scaler,15,5,6,11,15,77.066667,60,105,57.142857
26,2.0,5,1,exp,global_scaler,15,5,6,11,15,77.066667,60,105,57.142857
28,2.0,5,2,beta,global_scaler,15,5,6,11,15,77.066667,60,105,57.142857
30,2.0,5,2,exp,global_scaler,15,5,6,11,15,77.133333,60,105,57.142857
6,0.5,2,2,exp,global_scaler,15,5,6,11,15,77.200000,60,105,57.142857
14,0.5,5,2,exp,global_scaler,15,5,6,11,15,77.266667,60,105,57.142857
2,0.5,2,1,exp,global_scaler,15,5,6,11,15,77.266667,60,105,57.142857
10,0.5,5,1,exp,global_scaler,15,5,6,11,15,77.266667,60,105,57.142857

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,64.8%,0.5,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL INNER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
2,R_e 3 2 (Spherical),58.533333,15,11,9,100.000000,73.333333,60.000000,15
0,R_e 3 2 (Logscore),68.733333,15,13,1,100.000000,86.666667,6.666667,15
4,mahalanobis,78.000000,11,6,5,73.333333,40.000000,33.333333,15
1,R_e 3 2 (Brier),87.466667,4,0,0,26.666667,0.000000,0.000000,15
3,R_e 3 2 (Zero-one),87.466667,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: R_e 3 2 (Spherical)
  - Average Rank: 58.53
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 9/15 problems (60.0%)

============================================================
RESULTS FOR: COMPOSITE EXCESS ALL CENTRAL CENTRAL + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
0,0.5,2,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
8,0.5,5,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
24,2.0,5,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
16,2.0,2,1,beta,global_scaler,15,0,11,11,11,78.000000,99,105,94.285714
20,2.0,2,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
22,2.0,2,2,exp,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
12,0.5,5,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
4,0.5,2,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
28,2.0,5,2,beta,global_scaler,15,0,11,11,11,78.066667,99,105,94.285714
30,2.0,5,2,exp,global_scaler,15,0,11,11,11,78.133333,99,105,94.285714
18,2.0,2,1,exp,global_scaler,15,0,11,11,11,78.133333,99,105,94.285714
26,2.0,5,1,exp,global_scaler,15,0,11,11,11,78.200000,99,105,94.285714
6,0.5,2,2,exp,global_scaler,15,0,11,11,11,78.266667,99,105,94.285714
14,0.5,5,2,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
10,0.5,5,1,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
2,0.5,2,1,exp,global_scaler,15,0,11,11,11,78.333333,99,105,94.285714
3,0.5,2,1,exp,none,15,0,11,11,11,79.400000,99,105,94.285714
15,0.5,5,2,exp,none,15,0,11,11,11,79.400000,99,105,94.285714
19,2.0,2,1,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
7,0.5,2,2,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
11,0.5,5,1,exp,none,15,0,11,11,11,79.466667,99,105,94.285714
23,2.0,2,2,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
1,0.5,2,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
9,0.5,5,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
27,2.0,5,1,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
25,2.0,5,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
17,2.0,2,1,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
21,2.0,2,2,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
29,2.0,5,2,beta,none,15,0,11,11,11,79.533333,99,105,94.285714
31,2.0,5,2,exp,none,15,0,11,11,11,79.533333,99,105,94.285714
13,0.5,5,2,beta,none,15,0,11,11,11,79.600000,99,105,94.285714
5,0.5,2,2,beta,none,15,0,11,11,11,79.600000,99,105,94.285714

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,94.3%,0.5,2,1,global_scaler,beta
1,Best Dominance 50%,11/15,0.5,2,1,global_scaler,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EXCESS ALL CENTRAL CENTRAL + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
4,mahalanobis,78.000000,11,11,11,73.333333,73.333333,73.333333,15
0,R_e 3 3 (Logscore),87.466667,15,15,4,100.000000,100.000000,26.666667,15
2,R_e 3 3 (Spherical),87.466667,4,0,0,26.666667,0.000000,0.000000,15
1,R_e 3 3 (Brier),87.466667,15,4,0,100.000000,26.666667,0.000000,15
3,R_e 3 3 (Zero-one),87.466667,0,0,0,0.000000,0.000000,0.000000,15

Best Individual Component: mahalanobis
  - Average Rank: 78.00
  - Dominates 50% in 11/15 problems (73.3%)
  - Dominates 75% in 11/15 problems (73.3%)
  - Dominates 100% in 11/15 problems (73.3%)

============================================================
RESULTS FOR: COMPOSITE EAT LOGSCORE OUTER OUTER + M
============================================================

,eps,grid_size,n_targets_multiplier,target,scaler_type,n_problems,dominates_100_pct,dominates_75_pct,dominates_50_pct,beats_worst_component,avg_rank,pareto_count,pareto_total,pareto_percentage
25,2.0,5,1,beta,none,15,8,13,15,15,21.200000,88,105,83.809524
29,2.0,5,2,beta,none,15,8,13,15,15,21.200000,88,105,83.809524
21,2.0,2,2,beta,none,15,8,13,15,15,21.200000,88,105,83.809524
17,2.0,2,1,beta,none,15,8,13,15,15,21.200000,88,105,83.809524
1,0.5,2,1,beta,none,15,8,12,15,15,21.466667,87,105,82.857143
5,0.5,2,2,beta,none,15,8,12,15,15,21.466667,87,105,82.857143
13,0.5,5,2,beta,none,15,8,12,15,15,21.466667,87,105,82.857143
9,0.5,5,1,beta,none,15,8,12,15,15,21.466667,87,105,82.857143
27,2.0,5,1,exp,none,15,5,11,15,15,22.533333,65,105,61.904762
19,2.0,2,1,exp,none,15,4,11,15,15,22.666667,60,105,57.142857
23,2.0,2,2,exp,none,15,5,12,15,15,22.800000,70,105,66.666667
31,2.0,5,2,exp,none,15,5,12,15,15,22.933333,70,105,66.666667
3,0.5,2,1,exp,none,15,4,8,15,15,27.466667,56,105,53.333333
11,0.5,5,1,exp,none,15,4,8,15,15,27.533333,56,105,53.333333
7,0.5,2,2,exp,none,15,2,7,14,15,29.066667,35,105,33.333333
15,0.5,5,2,exp,none,15,2,7,13,15,29.200000,35,105,33.333333
26,2.0,5,1,exp,global_scaler,15,0,2,2,15,62.866667,0,105,0.000000
10,0.5,5,1,exp,global_scaler,15,0,2,2,15,62.866667,0,105,0.000000
2,0.5,2,1,exp,global_scaler,15,0,2,2,15,62.866667,0,105,0.000000
18,2.0,2,1,exp,global_scaler,15,0,2,2,15,62.933333,0,105,0.000000
14,0.5,5,2,exp,global_scaler,15,0,2,2,15,62.933333,0,105,0.000000
6,0.5,2,2,exp,global_scaler,15,0,2,2,15,62.933333,0,105,0.000000
0,0.5,2,1,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
4,0.5,2,2,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
12,0.5,5,2,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
8,0.5,5,1,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
16,2.0,2,1,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
20,2.0,2,2,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
22,2.0,2,2,exp,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
24,2.0,5,1,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
28,2.0,5,2,beta,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000
30,2.0,5,2,exp,global_scaler,15,0,2,2,15,63.000000,0,105,0.000000

Best Hyperparameter Combinations:

,metric,value,eps,grid_size,n_targets_multiplier,scaler_type,target
0,Best Pareto %,83.8%,2.0,2,1,none,beta
1,Best Dominance 50%,15/15,0.5,2,1,none,beta

----------------------------------------
INDIVIDUAL COMPONENT ANALYSIS FOR: COMPOSITE EAT LOGSCORE OUTER OUTER + M
----------------------------------------
Individual Component Performance:

,component,avg_rank,dominates_50_pct,dominates_75_pct,dominates_100_pct,dominates_50_pct_rate,dominates_75_pct_rate,dominates_100_pct_rate,n_problems
1,R_t 1 1 (Logscore),20.666667,15,13,11,100.000000,86.666667,73.333333,15
2,R_b 1 (Logscore),26.866667,15,12,4,100.000000,80.000000,26.666667,15
0,R_e 1 1 (Logscore),41.200000,13,3,0,86.666667,20.000000,0.000000,15
3,mahalanobis,78.000000,2,2,0,13.333333,13.333333,0.000000,15

Best Individual Component: R_t 1 1 (Logscore)
  - Average Rank: 20.67
  - Dominates 50% in 15/15 problems (100.0%)
  - Dominates 75% in 13/15 problems (86.7%)
  - Dominates 100% in 11/15 problems (73.3%)